<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/font-awesome.min.css"/>
    <include path="~/Content/Admin.css" />
    <include path="~/Content/Site.css" />
  </styleBundle>
  <styleBundle path="~/Content/frontend">
    <include path="~/Frontend/styles/vendor.css"/>
    <include path="~/Frontend/styles/main.css"/>
  </styleBundle>
  
</bundles>