<div class="cm-sat-m-accordion">
  <div class="sat-container">
    <div class="row">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default">
          <div class="panel-heading collapsed" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h4 class="panel-title">
              <svg class="accordion-svg"><use xlink:href="#article-travel"></use></svg>
              <span>Travel details</span>
            </h4>
            <h4 class="panel-description">
              <span class="hidden-xs">Information about how you can get here</span>
              <div class="nav-caret caret-open"><svg><use xlink:href="#nav-arrow"></use></svg></div>
              <div class="nav-caret caret-close"><svg class="rotate-180"><use xlink:href="#nav-arrow"></use></svg></div>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <h5>Travel details</h5>
              <p>The main towns of the area are Kleinmond, Hermanus, Stanford and Gansbaai; but the <a href="#">Cape Whale Coast</a> is in fact made up of a collection of villages, farms, rivers, bays, coves and valleys.</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading collapsed" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <h4 class="panel-title">
              <svg class="accordion-svg"><use xlink:href="#article-events"></use></svg>
              <span>Events around the area</span>
            </h4>
            <h4 class="panel-description">
              <span class="hidden-xs">What other things you could do</span>
              <div class="nav-caret caret-open"><svg><use xlink:href="#nav-arrow"></use></svg></div>
              <div class="nav-caret caret-close"><svg class="rotate-180"><use xlink:href="#nav-arrow"></use></svg></div>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <h5>Events around the area</h5>
              <p>The main towns of the area are Kleinmond, Hermanus, Stanford and Gansbaai; but the <a href="#">Cape Whale Coast</a> is in fact made up of a collection of villages, farms, rivers, bays, coves and valleys.</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading collapsed" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            <h4 class="panel-title">
              <svg class="accordion-svg"><use xlink:href="#article-tours"></use></svg>
              <span>Tours, packages and costs</span>
            </h4>
            <h4 class="panel-description">
              <span class="hidden-xs">Find tour operators and costs</span>
              <div class="nav-caret caret-open"><svg><use xlink:href="#nav-arrow"></use></svg></div>
              <div class="nav-caret caret-close"><svg class="rotate-180"><use xlink:href="#nav-arrow"></use></svg></div>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              <h5>Tours, packages and costs</h5>
              <p>The main towns of the area are Kleinmond, Hermanus, Stanford and Gansbaai; but the <a href="#">Cape Whale Coast</a> is in fact made up of a collection of villages, farms, rivers, bays, coves and valleys.</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading collapsed" role="tab" id="headingFour" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
            <h4 class="panel-title">
              <svg class="accordion-svg"><use xlink:href="#article-accomodation"></use></svg>
              <span>Accomodation</span>
            </h4>
            <h4 class="panel-description">
              <span class="hidden-xs">Where you should stay</span>
              <div class="nav-caret caret-open"><svg><use xlink:href="#nav-arrow"></use></svg></div>
              <div class="nav-caret caret-close"><svg class="rotate-180"><use xlink:href="#nav-arrow"></use></svg></div>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
              <h5>Accomodation</h5>
              <p>The main towns of the area are Kleinmond, Hermanus, Stanford and Gansbaai; but the <a href="#">Cape Whale Coast</a> is in fact made up of a collection of villages, farms, rivers, bays, coves and valleys.</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading collapsed" role="tab" id="headingFive" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
            <h4 class="panel-title">
              <svg class="accordion-svg"><use xlink:href="#article-food"></use></svg>
              <span>Food and shopping</span>
            </h4>
            <h4 class="panel-description">
              <span class="hidden-xs">Restaurants and great shopping spots</span>
              <div class="nav-caret caret-open"><svg><use xlink:href="#nav-arrow"></use></svg></div>
              <div class="nav-caret caret-close"><svg class="rotate-180"><use xlink:href="#nav-arrow"></use></svg></div>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
              <h5>Food and shopping</h5>
              <p>The main towns of the area are Kleinmond, Hermanus, Stanford and Gansbaai; but the <a href="#">Cape Whale Coast</a> is in fact made up of a collection of villages, farms, rivers, bays, coves and valleys.</p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading collapsed" role="tab" id="headingSix" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
            <h4 class="panel-title">
              <svg class="accordion-svg"><use xlink:href="#article-visit"></use></svg>
              <span>When to visit</span>
            </h4>
            <h4 class="panel-description">
              <span class="hidden-xs">Lorem Ipsum dolor sit amet</span>
              <div class="nav-caret caret-open"><svg><use xlink:href="#nav-arrow"></use></svg></div>
              <div class="nav-caret caret-close"><svg class="rotate-180"><use xlink:href="#nav-arrow"></use></svg></div>
            </h4>
          </div>
          <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
            <div class="panel-body">
              <h5>When to visit</h5>
              <p>The main towns of the area are Kleinmond, Hermanus, Stanford and Gansbaai; but the <a href="#">Cape Whale Coast</a> is in fact made up of a collection of villages, farms, rivers, bays, coves and valleys.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
