<div class="cm-sat-m-gallery">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 gallery-item">
        <img class="img-responsive" src="images/article/large.jpg" alt="">
        <p class="desc">Hermanus is known as the Whale Capital of South Africa due to the annual migration of Southern Right Whales to it's shores where the whales calve in the protected Walker Bay.</p>
        <p class="image-src"><a href="#">Neil Bloomkamp</a></p>
      </div>
      <div class="col-xs-12 col-sm-6 gallery-item">
        <img class="img-responsive" src="images/article/small.jpg" alt="">
        <p class="desc">A whale breaching off the coast near Hermanus in the Western Cape.</p>
        <p class="image-src"><a href="#">Martha Johnsson</a></p>
      </div>
      <div class="col-xs-12 col-sm-6 gallery-item">
        <img class="img-responsive" src="images/article/small.jpg" alt="">
        <p class="desc">A whale breaching off the coast near Hermanus in the Western Cape.</p>
        <p class="image-src"><a href="#">Martha Johnsson</a></p>
      </div>
    </div>
  </div>
</div>
