<div class="cm-sat-m-slider cm-sat-is-article">
  <div class="js-slick-slider">
    <div class="slider-item">
      <img class="hidden-xs img-responsive slider-image" src="images/sliders/article.jpg" alt="">
      <img class="visible-xs img-responsive slider-image" src="images/sliders/article-mobile.jpg" alt="">
      <div class="sat-shadow"></div>
      <div class="slider-container">
        <div class="slider-title">
          <h1>Whale Watching</h1>
          <h3>Eye-to-eye with the ocean’s gentle giants</h3>
        </div>
        <div class="slider-info">
          <div class="container">
            <div class="col-xs-12 slider-stats slider-tags">
              <svg><use xlink:href="#slider-tags"></use></svg>
              <div>
                <span class="title">Tags Associated With Article</span>
                <span class="description">
                  <ul class="list-inline">
                    <li>Adventure</li>
                    <li>Animals</li>
                    <li>Best of South Africa</li>
                    <li>Wildlife</li>
                    <li>Whale Watching</li>
                  </ul>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
