<div class="cm-sat-m-slider cm-sat-is-search">
  <div class="js-slick-slider">
    <div class="slider-item">
      <img class="hidden-xs img-responsive slider-image" src="images/sliders/search.jpg" alt="">
      <img class="visible-xs img-responsive slider-image" src="images/sliders/search-mobile.jpg" alt="">
    </div>
  </div>
</div>
