<aside class="cm-sat-m-homepage-map-slider">
  <div class="js-slick-homepage-map">
    <div class="slider-item">
      <div class="slider-container">
        <div class="slider-info">
          <div class="intro-info list">
            <p class="h1 header">Select a province</p>
            <p>Click on the map or pick from the list below to choose a province you’d like to know more about.</p>
          </div>
          <div class="province-list">
            <ul>
              <li class="js-provinces-item"><a>Eastern Cape</a></li>
              <li class="js-provinces-item"><a>Free State</a></li>
              <li class="js-provinces-item"><a>Gauteng</a></li>
              <li class="js-provinces-item"><a>KwaZulu-Natal</a></li>
              <li class="js-provinces-item"><a>Limpopo</a></li>
              <li class="js-provinces-item"><a>Mpumalanga</a></li>
              <li class="js-provinces-item"><a>North West</a></li>
              <li class="js-provinces-item"><a>Northern Cape</a></li>
              <li class="js-provinces-item"><a>Western Cape</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-item">
      <div class="slider-container">
        <div class="slider-info">
          <a href="#" class="menu-map-list"><svg><use xlink:href="#map-menu"></use></svg></a>
          <div class="intro-info">
            <p class="h1 header">Eastern CAPE</p>
            <p>World-class wines, wonderful whale-watching and a wealth of wonderful experiences await you when you visit South Africa’s most southerly point.</p>
          </div>
          <div class="province-list detail">
            <ul>
              <li>
                <img class="detail-image" src="images/maps/slider_image_01.jpg" alt=""/>
                <div class="detail-text">
                  <p>See Cape Town from the</p>
                  <p><a href="#">Table Mountain National Park</a></p>
                </div>
              </li>
              <li>
                <img class="detail-image" src="images/maps/slider_image_02.jpg" alt=""/>
                <div class="detail-text">
                  <p>Hike through</p>
                  <p><a href="#">Robberg Nature Reserve</a></p>
                </div>
              </li>
              <li>
                <img class="detail-image" src="images/maps/slider_image_03.jpg" alt=""/>
                <div class="detail-text">
                  <p>Spend the evening at</p>
                  <p><a href="#">Mahogany Room Jazz Club</a></p>
                </div>
              </li>
              <li>
                <img class="detail-image" src="images/maps/slider_image_04.jpg" alt=""/>
                <div class="detail-text">
                  <p>Watch a performance by the</p>
                  <p><a href="#">African Dance Theatre</a></p>
                </div>
              </li>
              <li>
                <img class="detail-image" src="images/maps/slider_image_05.jpg" alt=""/>
                <div class="detail-text">
                  <p>Learn about SA’s sporting history at the</p>
                  <p><a href="#">Springbox Experience Rugby Museum</a></p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-item">
      <div class="slider-container">
        <div class="slider-info">
          <a href="#" class="menu-map-list"><svg><use xlink:href="#map-menu"></use></svg></a>
          <div class="intro-info">
            <p class="h1 header">Free State</p>
            <p>World-class wines, wonderful whale-watching and a wealth of wonderful experiences await you when you visit South Africa’s most southerly point.</p>
          </div>
          <div class="province-list detail">
            <ul>
              <li>
                <img class="detail-image" src="images/maps/slider_image_01.jpg" alt=""/>
                <div class="detail-text">
                  <p>See Cape Town from the</p>
                  <p><a href="#">Table Mountain National Park</a></p>
                </div>
              </li>
              <li>
                <img class="detail-image" src="images/maps/slider_image_02.jpg" alt=""/>
                <div class="detail-text">
                  <p>Hike through</p>
                  <p><a href="#">Robberg Nature Reserve</a></p>
                </div>
              </li>
              <li>
                <img class="detail-image" src="images/maps/slider_image_03.jpg" alt=""/>
                <div class="detail-text">
                  <p>Spend the evening at</p>
                  <p><a href="#">Mahogany Room Jazz Club</a></p>
                </div>
              </li>
              <li>
                <img class="detail-image" src="images/maps/slider_image_04.jpg" alt=""/>
                <div class="detail-text">
                  <p>Watch a performance by the</p>
                  <p><a href="#">African Dance Theatre</a></p>
                </div>
              </li>
              <li>
                <img class="detail-image" src="images/maps/slider_image_05.jpg" alt=""/>
                <div class="detail-text">
                  <p>Learn about SA’s sporting history at the</p>
                  <p><a href="#">Springbox Experience Rugby Museum</a></p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-item">
      <div class="slider-container">
        <div class="slider-info">
          <a href="#" class="menu-map-list"><svg><use xlink:href="#map-menu"></use></svg></a>
          <div class="intro-info">
            <p class="h1 header">Gauteng</p>
            <p>World-class wines, wonderful whale-watching and a wealth of wonderful experiences await you when you visit South Africa’s most southerly point.</p>
          </div>
          <div class="province-list detail">
            <ul>
              <li>
                <img class="detail-image" src="images/maps/slider_image_01.jpg" alt=""/>
                <div class="detail-text">
                  <p>See Cape Town from the</p>
                  <p><a href="#">Table Mountain National Park</a></p>
                </div>
              </li>
              <li>
                <img class="detail-image" src="images/maps/slider_image_02.jpg" alt=""/>
                <div class="detail-text">
                  <p>Hike through</p>
                  <p><a href="#">Robberg Nature Reserve</a></p>
                </div>
              </li>
              <li>
                <img class="detail-image" src="images/maps/slider_image_03.jpg" alt=""/>
                <div class="detail-text">
                  <p>Spend the evening at</p>
                  <p><a href="#">Mahogany Room Jazz Club</a></p>
                </div>
              </li>
              <li>
                <img class="detail-image" src="images/maps/slider_image_04.jpg" alt=""/>
                <div class="detail-text">
                  <p>Watch a performance by the</p>
                  <p><a href="#">African Dance Theatre</a></p>
                </div>
              </li>
              <li>
                <img class="detail-image" src="images/maps/slider_image_05.jpg" alt=""/>
                <div class="detail-text">
                  <p>Learn about SA’s sporting history at the</p>
                  <p><a href="#">Springbox Experience Rugby Museum</a></p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-item">
      <div class="slider-container">
        <div class="slider-info">
          <a href="#" class="menu-map-list"><svg><use xlink:href="#map-menu"></use></svg></a>
          <div class="intro-info">
            <p class="h1 header">KwaZulu-Natal</p>
            <p>World-class wines, wonderful whale-watching and a wealth of wonderful experiences await you when you visit South Africa’s most southerly point.</p>
          </div>
          <div class="province-list detail">
            <ul>
              <li>
                <img class="detail-image" src="images/maps/slider_image_01.jpg" alt=""/>
                <div class="detail-text">
                  <p>See Cape Town from the</p>
                  <p><a href="#">Table Mountain National Park</a></p>
                </div>
              </li>
              <li>
                <img class="detail-image" src="images/maps/slider_image_02.jpg" alt=""/>
                <div class="detail-text">
                  <p>Hike through</p>
                  <p><a href="#">Robberg Nature Reserve</a></p>
                </div>
              </li>
              <li>
                <img class="detail-image" src="images/maps/slider_image_03.jpg" alt=""/>
                <div class="detail-text">
                  <p>Spend the evening at</p>
                  <p><a href="#">Mahogany Room Jazz Club</a></p>
                </div>
              </li>
              <li>
                <img class="detail-image" src="images/maps/slider_image_04.jpg" alt=""/>
                <div class="detail-text">
                  <p>Watch a performance by the</p>
                  <p><a href="#">African Dance Theatre</a></p>
                </div>
              </li>
              <li>
                <img class="detail-image" src="images/maps/slider_image_05.jpg" alt=""/>
                <div class="detail-text">
                  <p>Learn about SA’s sporting history at the</p>
                  <p><a href="#">Springbox Experience Rugby Museum</a></p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-item">
      <div class="slider-container">
        <div class="slider-info">
          <a href="#" class="menu-map-list"><svg><use xlink:href="#map-menu"></use></svg></a>
          <div class="intro-info">
            <p class="h1 header">Limpopo</p>
            <p>World-class wines, wonderful whale-watching and a wealth of wonderful experiences await you when you visit South Africa’s most southerly point.</p>
          </div>
          <div class="province-list detail">
            <ul>
              <li>
                <img class="detail-image" src="images/maps/slider_image_01.jpg" alt=""/>
                <div class="detail-text">
                  <p>See Cape Town from the</p>
                  <p><a href="#">Table Mountain National Park</a></p>
                </div>
              </li>
              <li>
                <img class="detail-image" src="images/maps/slider_image_02.jpg" alt=""/>
                <div class="detail-text">
                  <p>Hike through</p>
                  <p><a href="#">Robberg Nature Reserve</a></p>
                </div>
              </li>
              <li>
                <img class="detail-image" src="images/maps/slider_image_03.jpg" alt=""/>
                <div class="detail-text">
                  <p>Spend the evening at</p>
                  <p><a href="#">Mahogany Room Jazz Club</a></p>
                </div>
              </li>
              <li>
                <img class="detail-image" src="images/maps/slider_image_04.jpg" alt=""/>
                <div class="detail-text">
                  <p>Watch a performance by the</p>
                  <p><a href="#">African Dance Theatre</a></p>
                </div>
              </li>
              <li>
                <img class="detail-image" src="images/maps/slider_image_05.jpg" alt=""/>
                <div class="detail-text">
                  <p>Learn about SA’s sporting history at the</p>
                  <p><a href="#">Springbox Experience Rugby Museum</a></p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-item">
      <div class="slider-container">
        <div class="slider-info">
          <a href="#" class="menu-map-list"><svg><use xlink:href="#map-menu"></use></svg></a>
          <div class="intro-info">
            <p class="h1 header">Mpumalanga</p>
            <p>World-class wines, wonderful whale-watching and a wealth of wonderful experiences await you when you visit South Africa’s most southerly point.</p>
          </div>
          <div class="province-list detail">
            <ul>
              <li>
                <img class="detail-image" src="images/maps/slider_image_01.jpg" alt=""/>
                <div class="detail-text">
                  <p>See Cape Town from the</p>
                  <p><a href="#">Table Mountain National Park</a></p>
                </div>
              </li>
              <li>
                <img class="detail-image" src="images/maps/slider_image_02.jpg" alt=""/>
                <div class="detail-text">
                  <p>Hike through</p>
                  <p><a href="#">Robberg Nature Reserve</a></p>
                </div>
              </li>
              <li>
                <img class="detail-image" src="images/maps/slider_image_03.jpg" alt=""/>
                <div class="detail-text">
                  <p>Spend the evening at</p>
                  <p><a href="#">Mahogany Room Jazz Club</a></p>
                </div>
              </li>
              <li>
                <img class="detail-image" src="images/maps/slider_image_04.jpg" alt=""/>
                <div class="detail-text">
                  <p>Watch a performance by the</p>
                  <p><a href="#">African Dance Theatre</a></p>
                </div>
              </li>
              <li>
                <img class="detail-image" src="images/maps/slider_image_05.jpg" alt=""/>
                <div class="detail-text">
                  <p>Learn about SA’s sporting history at the</p>
                  <p><a href="#">Springbox Experience Rugby Museum</a></p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-item">
      <div class="slider-container">
        <div class="slider-info">
          <a href="#" class="menu-map-list"><svg><use xlink:href="#map-menu"></use></svg></a>
          <div class="intro-info">
            <p class="h1 header">North West</p>
            <p>World-class wines, wonderful whale-watching and a wealth of wonderful experiences await you when you visit South Africa’s most southerly point.</p>
          </div>
          <div class="province-list detail">
            <ul>
              <li>
                <img class="detail-image" src="images/maps/slider_image_01.jpg" alt=""/>
                <div class="detail-text">
                  <p>See Cape Town from the</p>
                  <p><a href="#">Table Mountain National Park</a></p>
                </div>
              </li>
              <li>
                <img class="detail-image" src="images/maps/slider_image_02.jpg" alt=""/>
                <div class="detail-text">
                  <p>Hike through</p>
                  <p><a href="#">Robberg Nature Reserve</a></p>
                </div>
              </li>
              <li>
                <img class="detail-image" src="images/maps/slider_image_03.jpg" alt=""/>
                <div class="detail-text">
                  <p>Spend the evening at</p>
                  <p><a href="#">Mahogany Room Jazz Club</a></p>
                </div>
              </li>
              <li>
                <img class="detail-image" src="images/maps/slider_image_04.jpg" alt=""/>
                <div class="detail-text">
                  <p>Watch a performance by the</p>
                  <p><a href="#">African Dance Theatre</a></p>
                </div>
              </li>
              <li>
                <img class="detail-image" src="images/maps/slider_image_05.jpg" alt=""/>
                <div class="detail-text">
                  <p>Learn about SA’s sporting history at the</p>
                  <p><a href="#">Springbox Experience Rugby Museum</a></p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-item">
      <div class="slider-container">
        <div class="slider-info">
          <a href="#" class="menu-map-list"><svg><use xlink:href="#map-menu"></use></svg></a>
          <div class="intro-info">
            <p class="h1 header">Northern Cape</p>
            <p>World-class wines, wonderful whale-watching and a wealth of wonderful experiences await you when you visit South Africa’s most southerly point.</p>
          </div>
          <div class="province-list detail">
            <ul>
              <li>
                <img class="detail-image" src="images/maps/slider_image_01.jpg" alt=""/>
                <div class="detail-text">
                  <p>See Cape Town from the</p>
                  <p><a href="#">Table Mountain National Park</a></p>
                </div>
              </li>
              <li>
                <img class="detail-image" src="images/maps/slider_image_02.jpg" alt=""/>
                <div class="detail-text">
                  <p>Hike through</p>
                  <p><a href="#">Robberg Nature Reserve</a></p>
                </div>
              </li>
              <li>
                <img class="detail-image" src="images/maps/slider_image_03.jpg" alt=""/>
                <div class="detail-text">
                  <p>Spend the evening at</p>
                  <p><a href="#">Mahogany Room Jazz Club</a></p>
                </div>
              </li>
              <li>
                <img class="detail-image" src="images/maps/slider_image_04.jpg" alt=""/>
                <div class="detail-text">
                  <p>Watch a performance by the</p>
                  <p><a href="#">African Dance Theatre</a></p>
                </div>
              </li>
              <li>
                <img class="detail-image" src="images/maps/slider_image_05.jpg" alt=""/>
                <div class="detail-text">
                  <p>Learn about SA’s sporting history at the</p>
                  <p><a href="#">Springbox Experience Rugby Museum</a></p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-item">
      <div class="slider-container">
        <div class="slider-info">
          <a href="#" class="menu-map-list"><svg><use xlink:href="#map-menu"></use></svg></a>
          <div class="intro-info">
            <p class="h1 header">Western Cape</p>
            <p>World-class wines, wonderful whale-watching and a wealth of wonderful experiences await you when you visit South Africa’s most southerly point.</p>
          </div>
          <div class="province-list detail">
            <ul>
              <li>
                <img class="detail-image" src="images/maps/slider_image_01.jpg" alt=""/>
                <div class="detail-text">
                  <p>See Cape Town from the</p>
                  <p><a href="#">Table Mountain National Park</a></p>
                </div>
              </li>
              <li>
                <img class="detail-image" src="images/maps/slider_image_02.jpg" alt=""/>
                <div class="detail-text">
                  <p>Hike through</p>
                  <p><a href="#">Robberg Nature Reserve</a></p>
                </div>
              </li>
              <li>
                <img class="detail-image" src="images/maps/slider_image_03.jpg" alt=""/>
                <div class="detail-text">
                  <p>Spend the evening at</p>
                  <p><a href="#">Mahogany Room Jazz Club</a></p>
                </div>
              </li>
              <li>
                <img class="detail-image" src="images/maps/slider_image_04.jpg" alt=""/>
                <div class="detail-text">
                  <p>Watch a performance by the</p>
                  <p><a href="#">African Dance Theatre</a></p>
                </div>
              </li>
              <li>
                <img class="detail-image" src="images/maps/slider_image_05.jpg" alt=""/>
                <div class="detail-text">
                  <p>Learn about SA’s sporting history at the</p>
                  <p><a href="#">Springbox Experience Rugby Museum</a></p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>
