<div class="cm-sat-m-slider">
  <div class="js-slick-slider">
    <div class="slider-item">
      <img class="hidden-xs img-responsive slider-image" src="images/sliders/contact.jpg" alt="">
      <img class="visible-xs img-responsive slider-image" src="images/sliders/contact-mobile.jpg" alt="">
      <div class="sat-shadow"></div>
      <div class="slider-container">
        <div class="slider-title">
          <h1>Regional Office</h1>
          <h3>South African Tourism office for the UK and Ireland</h3>
        </div>
      </div>
    </div>
  </div>
</div>
