<div class="cm-sat-m-slider">
  <div class="js-slick-slider">
    <div class="slider-item">
      <img class="hidden-xs img-responsive slider-image" src="images/sliders/top10.jpg" alt="">
      <img class="visible-xs img-responsive slider-image" src="images/sliders/top10-mobile.jpg" alt="">
      <div class="sat-shadow"></div>
      <div class="slider-container">
        <div class="slider-title">
          <h1>Top 10 Reasons To Visit</h1>
          <h3>There are many compelling reasons to visit South Africa, <br class="hidden-xs hidden-sm" /> here are the 10 best…</h3>
        </div>
        <div class="slider-info">
          <div class="container">
            <div class="col-xs-12 slider-stats slider-tags">
              <svg><use xlink:href="#slider-location"></use></svg>
              <div>
                <span class="title">Location</span>
                <span class="description">Orange River</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
