<div class="cm-sat-m-slider-top10">
  <div class="js-slider-top10">
    <div class="slider-item">
      <div class="s-item-header">
        <span>Top 10 Cities</span>
        <h3>Bloemfontein, Free State</h3>
      </div>
      <div class="s-item-image">
        <img class="img-responsive" src="images/sliders/top10-feature.jpg" alt="">
        <div class="image-caption text-center">
          <p>The city's Sesotho name is Mangaung, meaning ‘place of cheetahs’.</p>
          <a href="#">Tourism South Africa</a>
        </div>
      </div>
      <div class="s-item-copy">
        <p>The name means ‘fountain of flowers ’, and Bloemfontein is popularly known as the City of Roses because they grow so well here. <a target="_blank" href="#">Bloemfontein</a>, the capital of <a target="_blank" href="#">Free State</a> province, was officially founded as a fort in 1846 by the British army. It is the birthplace of Lord of the Rings author JRR Tolkien.</p>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
      <div class="s-item-social js-slider-socialchart">
        <div class="col-xs-12 col-sm-4">
          <a target="_blank" href="#">
            <div class="social-image" style="background-image: url(images/sliders/top10-social.jpg);"></div>
            <div class="social-content">
              <img class="img-responsive" src="images/sliders/top10-user.jpg" alt="">
              <div>
                <svg class="network"><use xlink:href="#social-flickr"></use></svg>
                <span>Laubencrew</span>
                <svg class="arrow"><use xlink:href="#map-arrow-right"></use></svg>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-4">
          <a target="_blank" href="#">
            <div class="social-image" style="background-image: url(images/sliders/top10-social.jpg);"></div>
            <div class="social-content">
              <img class="img-responsive" src="images/sliders/top10-user.jpg" alt="">
              <div>
                <svg class="network"><use xlink:href="#social-instagram"></use></svg>
                <span>svt_photography</span>
                <svg class="arrow"><use xlink:href="#map-arrow-right"></use></svg>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-4">
          <a target="_blank" href="#">
            <div class="social-image" style="background-image: url(images/sliders/top10-social.jpg);"></div>
            <div class="social-content">
              <img class="img-responsive" src="images/sliders/top10-user.jpg" alt="">
              <div>
                <svg class="network"><use xlink:href="#social-pinterest"></use></svg>
                <span>Tourism South Africa</span>
                <svg class="arrow"><use xlink:href="#map-arrow-right"></use></svg>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="s-item-stats">
        <div class="col-xs-12 col-sm-4 no-padding chart-stats">
          <div class="chart-stat active">
            <svg><use xlink:href="#chart-thermostat"></use></svg>
            <p>
              Avg. Temperature
              <span>30&deg;C</span>
            </p>
          </div>
          <div class="chart-stat">
            <svg><use xlink:href="#chart-rainfall"></use></svg>
            <p>
              Avg. Precipitation
              <span>24 mm</span>
            </p>
          </div>
          <div class="chart-stat">
            <svg><use xlink:href="#chart-sun"></use></svg>
            <p>
              Avg. Hours Of Sun
              <span>8.5 hrs</span>
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8 no-padding js-slider-chart">
          <div id="chart-temperature-1" class="chart-item"></div>
          <div id="chart-precipitation-1" class="chart-item"></div>
          <div id="chart-sunhours-1" class="chart-item"></div>
        </div>
      </div>
    </div>
    <div class="slider-item">
      <div class="s-item-header">
        <span>Top 10 Cities</span>
        <h3>Bloemfontein, Free State</h3>
      </div>
      <div class="s-item-image">
        <img class="img-responsive" src="images/sliders/top10-feature.jpg" alt="">
        <div class="image-caption text-center">
          <p>The city's Sesotho name is Mangaung, meaning ‘place of cheetahs’.</p>
          <a href="#">Tourism South Africa</a>
        </div>
      </div>
      <div class="s-item-copy">
        <p>The name means ‘fountain of flowers ’, and Bloemfontein is popularly known as the City of Roses because they grow so well here. <a target="_blank" href="#">Bloemfontein</a>, the capital of <a target="_blank" href="#">Free State</a> province, was officially founded as a fort in 1846 by the British army. It is the birthplace of Lord of the Rings author JRR Tolkien.</p>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
      <div class="s-item-social js-slider-socialchart">
        <div class="col-xs-12 col-sm-4">
          <a target="_blank" href="#">
            <div class="social-image" style="background-image: url(images/sliders/top10-social.jpg);"></div>
            <div class="social-content">
              <img class="img-responsive" src="images/sliders/top10-user.jpg" alt="">
              <div>
                <svg class="network"><use xlink:href="#social-flickr"></use></svg>
                <span>Laubencrew</span>
                <svg class="arrow"><use xlink:href="#map-arrow-right"></use></svg>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-4">
          <a target="_blank" href="#">
            <div class="social-image" style="background-image: url(images/sliders/top10-social.jpg);"></div>
            <div class="social-content">
              <img class="img-responsive" src="images/sliders/top10-user.jpg" alt="">
              <div>
                <svg class="network"><use xlink:href="#social-instagram"></use></svg>
                <span>svt_photography</span>
                <svg class="arrow"><use xlink:href="#map-arrow-right"></use></svg>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-4">
          <a target="_blank" href="#">
            <div class="social-image" style="background-image: url(images/sliders/top10-social.jpg);"></div>
            <div class="social-content">
              <img class="img-responsive" src="images/sliders/top10-user.jpg" alt="">
              <div>
                <svg class="network"><use xlink:href="#social-pinterest"></use></svg>
                <span>Tourism South Africa</span>
                <svg class="arrow"><use xlink:href="#map-arrow-right"></use></svg>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="s-item-stats">
        <div class="col-xs-12 col-sm-4 no-padding chart-stats">
          <div class="chart-stat active">
            <svg><use xlink:href="#chart-thermostat"></use></svg>
            <p>
              Avg. Temperature
              <span>30&deg;C</span>
            </p>
          </div>
          <div class="chart-stat">
            <svg><use xlink:href="#chart-rainfall"></use></svg>
            <p>
              Avg. Precipitation
              <span>24 mm</span>
            </p>
          </div>
          <div class="chart-stat">
            <svg><use xlink:href="#chart-sun"></use></svg>
            <p>
              Avg. Hours Of Sun
              <span>8.5 hrs</span>
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8 no-padding js-slider-chart">
          <div id="chart-temperature-2" class="chart-item"></div>
          <div id="chart-precipitation-2" class="chart-item"></div>
          <div id="chart-sunhours-2" class="chart-item"></div>
        </div>
      </div>
    </div>
    <div class="slider-item">
      <div class="s-item-header">
        <span>Top 10 Cities</span>
        <h3>Bloemfontein, Free State</h3>
      </div>
      <div class="s-item-image">
        <img class="img-responsive" src="images/sliders/top10-feature.jpg" alt="">
        <div class="image-caption text-center">
          <p>The city's Sesotho name is Mangaung, meaning ‘place of cheetahs’.</p>
          <a href="#">Tourism South Africa</a>
        </div>
      </div>
      <div class="s-item-copy">
        <p>The name means ‘fountain of flowers ’, and Bloemfontein is popularly known as the City of Roses because they grow so well here. <a target="_blank" href="#">Bloemfontein</a>, the capital of <a target="_blank" href="#">Free State</a> province, was officially founded as a fort in 1846 by the British army. It is the birthplace of Lord of the Rings author JRR Tolkien.</p>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
      <div class="s-item-social js-slider-socialchart">
        <div class="col-xs-12 col-sm-4">
          <a target="_blank" href="#">
            <div class="social-image" style="background-image: url(images/sliders/top10-social.jpg);"></div>
            <div class="social-content">
              <img class="img-responsive" src="images/sliders/top10-user.jpg" alt="">
              <div>
                <svg class="network"><use xlink:href="#social-flickr"></use></svg>
                <span>Laubencrew</span>
                <svg class="arrow"><use xlink:href="#map-arrow-right"></use></svg>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-4">
          <a target="_blank" href="#">
            <div class="social-image" style="background-image: url(images/sliders/top10-social.jpg);"></div>
            <div class="social-content">
              <img class="img-responsive" src="images/sliders/top10-user.jpg" alt="">
              <div>
                <svg class="network"><use xlink:href="#social-instagram"></use></svg>
                <span>svt_photography</span>
                <svg class="arrow"><use xlink:href="#map-arrow-right"></use></svg>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-4">
          <a target="_blank" href="#">
            <div class="social-image" style="background-image: url(images/sliders/top10-social.jpg);"></div>
            <div class="social-content">
              <img class="img-responsive" src="images/sliders/top10-user.jpg" alt="">
              <div>
                <svg class="network"><use xlink:href="#social-pinterest"></use></svg>
                <span>Tourism South Africa</span>
                <svg class="arrow"><use xlink:href="#map-arrow-right"></use></svg>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="s-item-stats">
        <div class="col-xs-12 col-sm-4 no-padding chart-stats">
          <div class="chart-stat active">
            <svg><use xlink:href="#chart-thermostat"></use></svg>
            <p>
              Avg. Temperature
              <span>30&deg;C</span>
            </p>
          </div>
          <div class="chart-stat">
            <svg><use xlink:href="#chart-rainfall"></use></svg>
            <p>
              Avg. Precipitation
              <span>24 mm</span>
            </p>
          </div>
          <div class="chart-stat">
            <svg><use xlink:href="#chart-sun"></use></svg>
            <p>
              Avg. Hours Of Sun
              <span>8.5 hrs</span>
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8 no-padding js-slider-chart">
          <div id="chart-temperature-3" class="chart-item"></div>
          <div id="chart-precipitation-3" class="chart-item"></div>
          <div id="chart-sunhours-3" class="chart-item"></div>
        </div>
      </div>
    </div>
    <div class="slider-item">
      <div class="s-item-header">
        <span>Top 10 Cities</span>
        <h3>Bloemfontein, Free State</h3>
      </div>
      <div class="s-item-image">
        <img class="img-responsive" src="images/sliders/top10-feature.jpg" alt="">
        <div class="image-caption text-center">
          <p>The city's Sesotho name is Mangaung, meaning ‘place of cheetahs’.</p>
          <a href="#">Tourism South Africa</a>
        </div>
      </div>
      <div class="s-item-copy">
        <p>The name means ‘fountain of flowers ’, and Bloemfontein is popularly known as the City of Roses because they grow so well here. <a target="_blank" href="#">Bloemfontein</a>, the capital of <a target="_blank" href="#">Free State</a> province, was officially founded as a fort in 1846 by the British army. It is the birthplace of Lord of the Rings author JRR Tolkien.</p>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
      <div class="s-item-social js-slider-socialchart">
        <div class="col-xs-12 col-sm-4">
          <a target="_blank" href="#">
            <div class="social-image" style="background-image: url(images/sliders/top10-social.jpg);"></div>
            <div class="social-content">
              <img class="img-responsive" src="images/sliders/top10-user.jpg" alt="">
              <div>
                <svg class="network"><use xlink:href="#social-flickr"></use></svg>
                <span>Laubencrew</span>
                <svg class="arrow"><use xlink:href="#map-arrow-right"></use></svg>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-4">
          <a target="_blank" href="#">
            <div class="social-image" style="background-image: url(images/sliders/top10-social.jpg);"></div>
            <div class="social-content">
              <img class="img-responsive" src="images/sliders/top10-user.jpg" alt="">
              <div>
                <svg class="network"><use xlink:href="#social-instagram"></use></svg>
                <span>svt_photography</span>
                <svg class="arrow"><use xlink:href="#map-arrow-right"></use></svg>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-4">
          <a target="_blank" href="#">
            <div class="social-image" style="background-image: url(images/sliders/top10-social.jpg);"></div>
            <div class="social-content">
              <img class="img-responsive" src="images/sliders/top10-user.jpg" alt="">
              <div>
                <svg class="network"><use xlink:href="#social-pinterest"></use></svg>
                <span>Tourism South Africa</span>
                <svg class="arrow"><use xlink:href="#map-arrow-right"></use></svg>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="s-item-stats">
        <div class="col-xs-12 col-sm-4 no-padding chart-stats">
          <div class="chart-stat active">
            <svg><use xlink:href="#chart-thermostat"></use></svg>
            <p>
              Avg. Temperature
              <span>30&deg;C</span>
            </p>
          </div>
          <div class="chart-stat">
            <svg><use xlink:href="#chart-rainfall"></use></svg>
            <p>
              Avg. Precipitation
              <span>24 mm</span>
            </p>
          </div>
          <div class="chart-stat">
            <svg><use xlink:href="#chart-sun"></use></svg>
            <p>
              Avg. Hours Of Sun
              <span>8.5 hrs</span>
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8 no-padding js-slider-chart">
          <div id="chart-temperature-4" class="chart-item"></div>
          <div id="chart-precipitation-4" class="chart-item"></div>
          <div id="chart-sunhours-4" class="chart-item"></div>
        </div>
      </div>
    </div>
    <div class="slider-item">
      <div class="s-item-header">
        <span>Top 10 Cities</span>
        <h3>Bloemfontein, Free State</h3>
      </div>
      <div class="s-item-image">
        <img class="img-responsive" src="images/sliders/top10-feature.jpg" alt="">
        <div class="image-caption text-center">
          <p>The city's Sesotho name is Mangaung, meaning ‘place of cheetahs’.</p>
          <a href="#">Tourism South Africa</a>
        </div>
      </div>
      <div class="s-item-copy">
        <p>The name means ‘fountain of flowers ’, and Bloemfontein is popularly known as the City of Roses because they grow so well here. <a target="_blank" href="#">Bloemfontein</a>, the capital of <a target="_blank" href="#">Free State</a> province, was officially founded as a fort in 1846 by the British army. It is the birthplace of Lord of the Rings author JRR Tolkien.</p>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
      <div class="s-item-social js-slider-socialchart">
        <div class="col-xs-12 col-sm-4">
          <a target="_blank" href="#">
            <div class="social-image" style="background-image: url(images/sliders/top10-social.jpg);"></div>
            <div class="social-content">
              <img class="img-responsive" src="images/sliders/top10-user.jpg" alt="">
              <div>
                <svg class="network"><use xlink:href="#social-flickr"></use></svg>
                <span>Laubencrew</span>
                <svg class="arrow"><use xlink:href="#map-arrow-right"></use></svg>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-4">
          <a target="_blank" href="#">
            <div class="social-image" style="background-image: url(images/sliders/top10-social.jpg);"></div>
            <div class="social-content">
              <img class="img-responsive" src="images/sliders/top10-user.jpg" alt="">
              <div>
                <svg class="network"><use xlink:href="#social-instagram"></use></svg>
                <span>svt_photography</span>
                <svg class="arrow"><use xlink:href="#map-arrow-right"></use></svg>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-4">
          <a target="_blank" href="#">
            <div class="social-image" style="background-image: url(images/sliders/top10-social.jpg);"></div>
            <div class="social-content">
              <img class="img-responsive" src="images/sliders/top10-user.jpg" alt="">
              <div>
                <svg class="network"><use xlink:href="#social-pinterest"></use></svg>
                <span>Tourism South Africa</span>
                <svg class="arrow"><use xlink:href="#map-arrow-right"></use></svg>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="s-item-stats">
        <div class="col-xs-12 col-sm-4 no-padding chart-stats">
          <div class="chart-stat active">
            <svg><use xlink:href="#chart-thermostat"></use></svg>
            <p>
              Avg. Temperature
              <span>30&deg;C</span>
            </p>
          </div>
          <div class="chart-stat">
            <svg><use xlink:href="#chart-rainfall"></use></svg>
            <p>
              Avg. Precipitation
              <span>24 mm</span>
            </p>
          </div>
          <div class="chart-stat">
            <svg><use xlink:href="#chart-sun"></use></svg>
            <p>
              Avg. Hours Of Sun
              <span>8.5 hrs</span>
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8 no-padding js-slider-chart">
          <div id="chart-temperature-5" class="chart-item"></div>
          <div id="chart-precipitation-5" class="chart-item"></div>
          <div id="chart-sunhours-5" class="chart-item"></div>
        </div>
      </div>
    </div>
    <div class="slider-item">
      <div class="s-item-header">
        <span>Top 10 Cities</span>
        <h3>Bloemfontein, Free State</h3>
      </div>
      <div class="s-item-image">
        <img class="img-responsive" src="images/sliders/top10-feature.jpg" alt="">
        <div class="image-caption text-center">
          <p>The city's Sesotho name is Mangaung, meaning ‘place of cheetahs’.</p>
          <a href="#">Tourism South Africa</a>
        </div>
      </div>
      <div class="s-item-copy">
        <p>The name means ‘fountain of flowers ’, and Bloemfontein is popularly known as the City of Roses because they grow so well here. <a target="_blank" href="#">Bloemfontein</a>, the capital of <a target="_blank" href="#">Free State</a> province, was officially founded as a fort in 1846 by the British army. It is the birthplace of Lord of the Rings author JRR Tolkien.</p>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
      <div class="s-item-social js-slider-socialchart">
        <div class="col-xs-12 col-sm-4">
          <a target="_blank" href="#">
            <div class="social-image" style="background-image: url(images/sliders/top10-social.jpg);"></div>
            <div class="social-content">
              <img class="img-responsive" src="images/sliders/top10-user.jpg" alt="">
              <div>
                <svg class="network"><use xlink:href="#social-flickr"></use></svg>
                <span>Laubencrew</span>
                <svg class="arrow"><use xlink:href="#map-arrow-right"></use></svg>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-4">
          <a target="_blank" href="#">
            <div class="social-image" style="background-image: url(images/sliders/top10-social.jpg);"></div>
            <div class="social-content">
              <img class="img-responsive" src="images/sliders/top10-user.jpg" alt="">
              <div>
                <svg class="network"><use xlink:href="#social-instagram"></use></svg>
                <span>svt_photography</span>
                <svg class="arrow"><use xlink:href="#map-arrow-right"></use></svg>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-4">
          <a target="_blank" href="#">
            <div class="social-image" style="background-image: url(images/sliders/top10-social.jpg);"></div>
            <div class="social-content">
              <img class="img-responsive" src="images/sliders/top10-user.jpg" alt="">
              <div>
                <svg class="network"><use xlink:href="#social-pinterest"></use></svg>
                <span>Tourism South Africa</span>
                <svg class="arrow"><use xlink:href="#map-arrow-right"></use></svg>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="s-item-stats">
        <div class="col-xs-12 col-sm-4 no-padding chart-stats">
          <div class="chart-stat active">
            <svg><use xlink:href="#chart-thermostat"></use></svg>
            <p>
              Avg. Temperature
              <span>30&deg;C</span>
            </p>
          </div>
          <div class="chart-stat">
            <svg><use xlink:href="#chart-rainfall"></use></svg>
            <p>
              Avg. Precipitation
              <span>24 mm</span>
            </p>
          </div>
          <div class="chart-stat">
            <svg><use xlink:href="#chart-sun"></use></svg>
            <p>
              Avg. Hours Of Sun
              <span>8.5 hrs</span>
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8 no-padding js-slider-chart">
          <div id="chart-temperature-6" class="chart-item"></div>
          <div id="chart-precipitation-6" class="chart-item"></div>
          <div id="chart-sunhours-6" class="chart-item"></div>
        </div>
      </div>
    </div>
    <div class="slider-item">
      <div class="s-item-header">
        <span>Top 10 Cities</span>
        <h3>Bloemfontein, Free State</h3>
      </div>
      <div class="s-item-image">
        <img class="img-responsive" src="images/sliders/top10-feature.jpg" alt="">
        <div class="image-caption text-center">
          <p>The city's Sesotho name is Mangaung, meaning ‘place of cheetahs’.</p>
          <a href="#">Tourism South Africa</a>
        </div>
      </div>
      <div class="s-item-copy">
        <p>The name means ‘fountain of flowers ’, and Bloemfontein is popularly known as the City of Roses because they grow so well here. <a target="_blank" href="#">Bloemfontein</a>, the capital of <a target="_blank" href="#">Free State</a> province, was officially founded as a fort in 1846 by the British army. It is the birthplace of Lord of the Rings author JRR Tolkien.</p>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
      <div class="s-item-social js-slider-socialchart">
        <div class="col-xs-12 col-sm-4">
          <a target="_blank" href="#">
            <div class="social-image" style="background-image: url(images/sliders/top10-social.jpg);"></div>
            <div class="social-content">
              <img class="img-responsive" src="images/sliders/top10-user.jpg" alt="">
              <div>
                <svg class="network"><use xlink:href="#social-flickr"></use></svg>
                <span>Laubencrew</span>
                <svg class="arrow"><use xlink:href="#map-arrow-right"></use></svg>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-4">
          <a target="_blank" href="#">
            <div class="social-image" style="background-image: url(images/sliders/top10-social.jpg);"></div>
            <div class="social-content">
              <img class="img-responsive" src="images/sliders/top10-user.jpg" alt="">
              <div>
                <svg class="network"><use xlink:href="#social-instagram"></use></svg>
                <span>svt_photography</span>
                <svg class="arrow"><use xlink:href="#map-arrow-right"></use></svg>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-4">
          <a target="_blank" href="#">
            <div class="social-image" style="background-image: url(images/sliders/top10-social.jpg);"></div>
            <div class="social-content">
              <img class="img-responsive" src="images/sliders/top10-user.jpg" alt="">
              <div>
                <svg class="network"><use xlink:href="#social-pinterest"></use></svg>
                <span>Tourism South Africa</span>
                <svg class="arrow"><use xlink:href="#map-arrow-right"></use></svg>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="s-item-stats">
        <div class="col-xs-12 col-sm-4 no-padding chart-stats">
          <div class="chart-stat active">
            <svg><use xlink:href="#chart-thermostat"></use></svg>
            <p>
              Avg. Temperature
              <span>30&deg;C</span>
            </p>
          </div>
          <div class="chart-stat">
            <svg><use xlink:href="#chart-rainfall"></use></svg>
            <p>
              Avg. Precipitation
              <span>24 mm</span>
            </p>
          </div>
          <div class="chart-stat">
            <svg><use xlink:href="#chart-sun"></use></svg>
            <p>
              Avg. Hours Of Sun
              <span>8.5 hrs</span>
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8 no-padding js-slider-chart">
          <div id="chart-temperature-7" class="chart-item"></div>
          <div id="chart-precipitation-7" class="chart-item"></div>
          <div id="chart-sunhours-7" class="chart-item"></div>
        </div>
      </div>
    </div>
    <div class="slider-item">
      <div class="s-item-header">
        <span>Top 10 Cities</span>
        <h3>Bloemfontein, Free State</h3>
      </div>
      <div class="s-item-image">
        <img class="img-responsive" src="images/sliders/top10-feature.jpg" alt="">
        <div class="image-caption text-center">
          <p>The city's Sesotho name is Mangaung, meaning ‘place of cheetahs’.</p>
          <a href="#">Tourism South Africa</a>
        </div>
      </div>
      <div class="s-item-copy">
        <p>The name means ‘fountain of flowers ’, and Bloemfontein is popularly known as the City of Roses because they grow so well here. <a target="_blank" href="#">Bloemfontein</a>, the capital of <a target="_blank" href="#">Free State</a> province, was officially founded as a fort in 1846 by the British army. It is the birthplace of Lord of the Rings author JRR Tolkien.</p>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
      <div class="s-item-social js-slider-socialchart">
        <div class="col-xs-12 col-sm-4">
          <a target="_blank" href="#">
            <div class="social-image" style="background-image: url(images/sliders/top10-social.jpg);"></div>
            <div class="social-content">
              <img class="img-responsive" src="images/sliders/top10-user.jpg" alt="">
              <div>
                <svg class="network"><use xlink:href="#social-flickr"></use></svg>
                <span>Laubencrew</span>
                <svg class="arrow"><use xlink:href="#map-arrow-right"></use></svg>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-4">
          <a target="_blank" href="#">
            <div class="social-image" style="background-image: url(images/sliders/top10-social.jpg);"></div>
            <div class="social-content">
              <img class="img-responsive" src="images/sliders/top10-user.jpg" alt="">
              <div>
                <svg class="network"><use xlink:href="#social-instagram"></use></svg>
                <span>svt_photography</span>
                <svg class="arrow"><use xlink:href="#map-arrow-right"></use></svg>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-4">
          <a target="_blank" href="#">
            <div class="social-image" style="background-image: url(images/sliders/top10-social.jpg);"></div>
            <div class="social-content">
              <img class="img-responsive" src="images/sliders/top10-user.jpg" alt="">
              <div>
                <svg class="network"><use xlink:href="#social-pinterest"></use></svg>
                <span>Tourism South Africa</span>
                <svg class="arrow"><use xlink:href="#map-arrow-right"></use></svg>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="s-item-stats">
        <div class="col-xs-12 col-sm-4 no-padding chart-stats">
          <div class="chart-stat active">
            <svg><use xlink:href="#chart-thermostat"></use></svg>
            <p>
              Avg. Temperature
              <span>30&deg;C</span>
            </p>
          </div>
          <div class="chart-stat">
            <svg><use xlink:href="#chart-rainfall"></use></svg>
            <p>
              Avg. Precipitation
              <span>24 mm</span>
            </p>
          </div>
          <div class="chart-stat">
            <svg><use xlink:href="#chart-sun"></use></svg>
            <p>
              Avg. Hours Of Sun
              <span>8.5 hrs</span>
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8 no-padding js-slider-chart">
          <div id="chart-temperature-8" class="chart-item"></div>
          <div id="chart-precipitation-8" class="chart-item"></div>
          <div id="chart-sunhours-8" class="chart-item"></div>
        </div>
      </div>
    </div>
    <div class="slider-item">
      <div class="s-item-header">
        <span>Top 10 Cities</span>
        <h3>Bloemfontein, Free State</h3>
      </div>
      <div class="s-item-image">
        <img class="img-responsive" src="images/sliders/top10-feature.jpg" alt="">
        <div class="image-caption text-center">
          <p>The city's Sesotho name is Mangaung, meaning ‘place of cheetahs’.</p>
          <a href="#">Tourism South Africa</a>
        </div>
      </div>
      <div class="s-item-copy">
        <p>The name means ‘fountain of flowers ’, and Bloemfontein is popularly known as the City of Roses because they grow so well here. <a target="_blank" href="#">Bloemfontein</a>, the capital of <a target="_blank" href="#">Free State</a> province, was officially founded as a fort in 1846 by the British army. It is the birthplace of Lord of the Rings author JRR Tolkien.</p>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
      <div class="s-item-social js-slider-socialchart">
        <div class="col-xs-12 col-sm-4">
          <a target="_blank" href="#">
            <div class="social-image" style="background-image: url(images/sliders/top10-social.jpg);"></div>
            <div class="social-content">
              <img class="img-responsive" src="images/sliders/top10-user.jpg" alt="">
              <div>
                <svg class="network"><use xlink:href="#social-flickr"></use></svg>
                <span>Laubencrew</span>
                <svg class="arrow"><use xlink:href="#map-arrow-right"></use></svg>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-4">
          <a target="_blank" href="#">
            <div class="social-image" style="background-image: url(images/sliders/top10-social.jpg);"></div>
            <div class="social-content">
              <img class="img-responsive" src="images/sliders/top10-user.jpg" alt="">
              <div>
                <svg class="network"><use xlink:href="#social-instagram"></use></svg>
                <span>svt_photography</span>
                <svg class="arrow"><use xlink:href="#map-arrow-right"></use></svg>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-4">
          <a target="_blank" href="#">
            <div class="social-image" style="background-image: url(images/sliders/top10-social.jpg);"></div>
            <div class="social-content">
              <img class="img-responsive" src="images/sliders/top10-user.jpg" alt="">
              <div>
                <svg class="network"><use xlink:href="#social-pinterest"></use></svg>
                <span>Tourism South Africa</span>
                <svg class="arrow"><use xlink:href="#map-arrow-right"></use></svg>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="s-item-stats">
        <div class="col-xs-12 col-sm-4 no-padding chart-stats">
          <div class="chart-stat active">
            <svg><use xlink:href="#chart-thermostat"></use></svg>
            <p>
              Avg. Temperature
              <span>30&deg;C</span>
            </p>
          </div>
          <div class="chart-stat">
            <svg><use xlink:href="#chart-rainfall"></use></svg>
            <p>
              Avg. Precipitation
              <span>24 mm</span>
            </p>
          </div>
          <div class="chart-stat">
            <svg><use xlink:href="#chart-sun"></use></svg>
            <p>
              Avg. Hours Of Sun
              <span>8.5 hrs</span>
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8 no-padding js-slider-chart">
          <div id="chart-temperature-9" class="chart-item"></div>
          <div id="chart-precipitation-9" class="chart-item"></div>
          <div id="chart-sunhours-9" class="chart-item"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="close-slider hidden-xs"><svg><use xlink:href="#close"></use></svg></div>
</div>
