<div class="cm-sat-m-cookies-bar text-center">
  <div class="container">
    <p>We use <a href="#">cookies</a> on this website to enhance your experience. By continuing to use the site, you agree to their use. <a href="#" class="js-cookiebar">CLOSE</a></p>
    <button class="hidden-xs btn btn-cookie js-cookiebar">Accept And Close</button>
  </div>
</div>
