<div class="modal cm-sat-m-explore" id="exploreModal" tabindex="-1" role="dialog" aria-labelledby="exploreModalLabel">
  <div class="modal-dialog" role="document">
    <form>
      <div class="modal-content">
        <div class="explore-close hidden-xs" data-dismiss="modal" aria-label="Close"><svg><use xlink:href="#close"></use></svg></div>
        <div class="explore-slider">
          <div class="explore-container">
            <div class="sat-shadow"></div>
            <img class="img-responsive desktop-image" src="images/explore/whattodo.jpg" alt="">
            <img class="img-responsive mobile-image" src="images/explore/whattodo-mobile.jpg" alt="">
            <ul class="visible-xs list-unstyled titles">
              <li class="active"><svg><use xlink:href="#explore-what"></use></svg><p>What <span>to do</span></p></li>
            </ul>
            <div class="explore-content">
              <div class="sat-multiselect explore-dropdown explore-single">
                <p>Select one or more options from the drop-down menu.</p>
                <select class="explore-multiselect" multiple="multiple" data-name="Activities">
                  <option value="adventure">Adventure</option>
                  <option value="artandentertainment">Art and entertainment</option>
                  <option value="attractions">Attractions</option>
                  <option value="cultureandhistory">Culture and history</option>
                  <option value="events">Events</option>
                  <option value="foodandwine">Food and wine</option>
                  <option value="healthandwellness">Health and wellness</option>
                  <option value="routesandtrails">Routes and trails</option>
                  <option value="shoppingandmarkets">Shopping and markets</option>
                  <option value="sport">Sport</option>
                  <option value="wildlifeandnature">Wildlife and nature</option>
                </select>
              </div>
            </div>
          </div>
          <div class="explore-container">
            <div class="sat-shadow"></div>
            <img class="img-responsive desktop-image" src="images/explore/wheretogo.jpg" alt="">
            <img class="img-responsive mobile-image" src="images/explore/wheretogo-mobile.jpg" alt="">
            <ul class="visible-xs list-unstyled titles">
              <li class="active"><svg><use xlink:href="#explore-where"></use></svg><p>Where <span>to go</span></p></li>
            </ul>
            <div class="explore-content">
              <div class="sat-multiselect explore-dropdown explore-multiple">
                <p>Select one or more options from the two drop-down menus.</p>
                <select class="explore-multiselect" multiple="multiple" data-name="Provinces">
                  <option value="easterncape">Eastern Cape</option>
                  <option value="freestate">Free State</option>
                  <option value="gauteng">Gauteng</option>
                  <option value="kwazulu-natal">KwaZulu-Natal</option>
                  <option value="limpopo">Limpopo</option>
                  <option value="mpumalanga">Mpumalanga</option>
                  <option value="northwest">North West</option>
                  <option value="northerncape">Northern Cape</option>
                  <option value="westerncape">Western Cape</option>
                </select>
                <select class="explore-multiselect" multiple="multiple" data-name="Cities">
                  <option value="bloemfontein">Bloemfontein</option>
                  <option value="capetown">Cape Town</option>
                  <option value="durban">Durban</option>
                  <option value="johannesburg">Johannesburg</option>
                  <option value="kimberly">Kimberly</option>
                  <option value="mbombela">Mbombela (Nelspruit)</option>
                  <option value="polokwane">Polokwane</option>
                  <option value="portelizabeth">Port Elizabeth</option>
                  <option value="pretoria">Pretoria</option>
                </select>
                <div class="view-map">
                  <svg class="map-hide"><use xlink:href="#explore-map"></use></svg>
                  <p class="map-hide">View Map</p>
                </div>
              </div>
            </div>
          </div>
          <div class="explore-container">
            <div class="sat-shadow"></div>
            <img class="img-responsive desktop-image" src="images/explore/whentovisit.jpg" alt="">
            <img class="img-responsive mobile-image" src="images/explore/whentovisit-mobile.jpg" alt="">
            <ul class="visible-xs list-unstyled titles">
              <li class="active"><svg><use xlink:href="#explore-when"></use></svg><p>When <span>to visit</span></p></li>
            </ul>
            <div class="explore-content">
              <div class="sat-multiselect explore-dropdown explore-multiple">
                <p>Select one or more options from the two drop-down menus.</p>
                <select class="explore-multiselect" multiple="multiple" data-name="Months">
                  <option value="january">January</option>
                  <option value="february">February</option>
                  <option value="march">March</option>
                  <option value="april">April</option>
                  <option value="may">May</option>
                  <option value="june">June</option>
                  <option value="july">July</option>
                  <option value="august">August</option>
                  <option value="september">September</option>
                  <option value="october">October</option>
                  <option value="november">November</option>
                  <option value="december">December</option>
                </select>
                <select class="explore-multiselect" multiple="multiple" data-name="Others">
                  <option value="allyear">All year</option>
                  <option value="easter">Easter</option>
                  <option value="christmas">Christmas</option>
                </select>
              </div>
            </div>
          </div>
          <div class="explore-container">
            <div class="sat-shadow"></div>
            <img class="img-responsive desktop-image" src="images/explore/whichprice.jpg" alt="">
            <img class="img-responsive mobile-image" src="images/explore/whichprice-mobile.jpg" alt="">
            <ul class="visible-xs list-unstyled titles">
              <li class="active"><svg><use xlink:href="#explore-which"></use></svg><p>Which <span>price</span></p></li>
            </ul>
            <div class="explore-content">
              <div class="sat-multiselect explore-dropdown explore-single">
                <p>Select one or more options from the drop-down menu.</p>
                <select class="explore-multiselect" multiple="multiple" data-name="Costs">
                  <option value="luxury">Luxury</option>
                  <option value="midrange">Mid range</option>
                  <option value="budget">Budget</option>
                </select>
              </div>
            </div>
          </div>
          <div class="explore-container">
            <div class="sat-shadow"></div>
            <img class="img-responsive desktop-image" src="images/explore/whowith.jpg" alt="">
            <img class="img-responsive mobile-image" src="images/explore/whowith-mobile.jpg" alt="">
            <ul class="visible-xs list-unstyled titles">
              <li class="active"><svg><use xlink:href="#explore-who"></use></svg><p>Who <span>with</span></p></li>
            </ul>
            <div class="explore-content">
              <div class="sat-multiselect explore-dropdown explore-single">
                <p>Select one or more options from the drop-down menu.</p>
                <select class="explore-multiselect" multiple="multiple" data-name="People">
                  <option value="families">Families</option>
                  <option value="groups">Groups</option>
                  <option value="couples">Couples</option>
                  <option value="solo">Solo</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="hidden-xs explore-nav">
          <ul class="list-unstyled titles">
            <li class="active"><svg><use xlink:href="#explore-what"></use></svg><p>What <span>to do</span></p></li>
            <li><svg><use xlink:href="#explore-where"></use></svg><p>Where <span>to go</span></p></li>
            <li><svg><use xlink:href="#explore-when"></use></svg><p>When <span>to visit</span></p></li>
            <li><svg><use xlink:href="#explore-which"></use></svg><p>Which <span>price</span></p></li>
            <li><svg><use xlink:href="#explore-who"></use></svg><p>Who <span>with</span></p></li>
          </ul>
        </div>
        <div class="explore-map">
          <img class="img-responsive" src="images/explore/map.jpg" alt="">
          {{> maps/map-explore }}
          <div class="view-map">
            <svg class="rotate-90"><use xlink:href="#nav-arrow"></use></svg>
            <p>Back</p>
          </div>
        </div>
        <div class="explore-total">
          <a href="#" class="total-selected" data-toggle="popover">
            <span>0</span> items selected
            <div class="nav-caret"><svg><use xlink:href="#nav-arrow"></use></svg></div>
            {{!-- <div class="nav-caret hide"><svg class="rotate-180"><use xlink:href="#nav-arrow"></use></svg></div> --}}
          </a>
          <button type="submit" class="btn btn-primary">Go</button>
        </div>
      </div>
    </form>
  </div>
</div>
