<div class="cm-sat-m-filter">
  <div class="filter-title container">
    <h2>
      <span>Sorry,</span> no articles found for...
      <a role="button" class="search-criteria" data-toggle="popover" data-placement="auto bottom" data-html="true"
        data-content="
          <form class='form-inline'>
            <div class='form-group'>
              <label class='sr-only' for='searchInput'>Search</label>
              <div class='input-group'>
                <input type='text' class='form-control' id='searchInput' placeholder='E.g. Safari, Adventure…' value='Thailand'>
                <div class='input-group-addon filter-submit'><button class='btn btn-primary' type='submit'>
                  <svg class='nav-search-icon nav-icon'><use xlink:href='#nav-search'></use></svg>
                </button></div>
              </div>
            </div>
          </form>
        ">
        <span>Thailand</span>
        <svg><use xlink:href="#nav-arrow"></use></svg>
      </a>
    </h2>
    <p class="search-suggestions">Please search again or take a look at these suggestions:</p>
  </div>

  <div class="filter-results container">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="results-item">
        <div class="sat-layer"></div>
        <img class="item-image" src="images/filter/results.jpg" alt="">
        <div class="sat-shadow"></div>
        <div class="item-content">
          <div class="category">
            <a class="btn btn-category">Article</a>
            {{!-- <div class="share">
              <svg><use xlink:href="#share"></use></svg>
              <span>16</span>
            </div> --}}
            <a role="button" class="item-tags" data-toggle="popover" data-placement="auto bottom" data-html="true"
            data-content="
              <a class='item-tag'>Adventure</a>
              <a class='item-tag'>Wildlife and Nature</a>
              <a class='item-tag'>Safari</a>
              <a class='item-tag'>Bloemfontein</a>
              <a class='item-tag'>Cape Town</a>
              <a class='item-tag'>Johannesburg Luxury</a>
              <a class='item-tag'>Budget</a>
              <a class='item-tag'>Family</a>
              <a class='item-tag'>Friends</a>
              <a class='item-tag'>Couple</a>
            "><svg class="tag-svg"><use xlink:href="#slider-tags"></use></svg><svg class="arrow-svg"><use xlink:href="#nav-arrow"></use></svg></a>
          </div>
          <h4>Whale-Watching. Very likely to break across two lines</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="results-item">
        <div class="sat-layer"></div>
        <img class="item-image" src="images/filter/results.jpg" alt="">
        <div class="sat-shadow"></div>
        <div class="item-content">
          <div class="category">
            <a class="btn btn-category">Article</a>
            {{!-- <div class="share">
              <svg><use xlink:href="#share"></use></svg>
              <span>16</span>
            </div> --}}
            <a role="button" class="item-tags" data-toggle="popover" data-placement="auto bottom" data-html="true"
            data-content="
              <a class='item-tag'>Adventure</a>
              <a class='item-tag'>Wildlife and Nature</a>
              <a class='item-tag'>Safari</a>
              <a class='item-tag'>Bloemfontein</a>
              <a class='item-tag'>Cape Town</a>
              <a class='item-tag'>Johannesburg Luxury</a>
              <a class='item-tag'>Budget</a>
              <a class='item-tag'>Family</a>
              <a class='item-tag'>Friends</a>
              <a class='item-tag'>Couple</a>
            "><svg class="tag-svg"><use xlink:href="#slider-tags"></use></svg><svg class="arrow-svg"><use xlink:href="#nav-arrow"></use></svg></a>
          </div>
          <h4>Whale-Watching. Very likely to break across two lines</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="results-item">
        <div class="sat-layer"></div>
        <img class="item-image" src="images/filter/results.jpg" alt="">
        <div class="sat-shadow"></div>
        <div class="item-content">
          <div class="category">
            <a class="btn btn-category">Article</a>
            {{!-- <div class="share">
              <svg><use xlink:href="#share"></use></svg>
              <span>16</span>
            </div> --}}
            <a role="button" class="item-tags" data-toggle="popover" data-placement="auto bottom" data-html="true"
            data-content="
              <a class='item-tag'>Adventure</a>
              <a class='item-tag'>Wildlife and Nature</a>
              <a class='item-tag'>Safari</a>
              <a class='item-tag'>Bloemfontein</a>
              <a class='item-tag'>Cape Town</a>
              <a class='item-tag'>Johannesburg Luxury</a>
              <a class='item-tag'>Budget</a>
              <a class='item-tag'>Family</a>
              <a class='item-tag'>Friends</a>
              <a class='item-tag'>Couple</a>
            "><svg class="tag-svg"><use xlink:href="#slider-tags"></use></svg><svg class="arrow-svg"><use xlink:href="#nav-arrow"></use></svg></a>
          </div>
          <h4>Whale-Watching. Very likely to break across two lines</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="results-item">
        <div class="sat-layer"></div>
        <img class="item-image" src="images/filter/results.jpg" alt="">
        <div class="sat-shadow"></div>
        <div class="item-content">
          <div class="category">
            <a class="btn btn-category">Article</a>
            {{!-- <div class="share">
              <svg><use xlink:href="#share"></use></svg>
              <span>16</span>
            </div> --}}
            <a role="button" class="item-tags" data-toggle="popover" data-placement="auto bottom" data-html="true"
            data-content="
              <a class='item-tag'>Adventure</a>
              <a class='item-tag'>Wildlife and Nature</a>
              <a class='item-tag'>Safari</a>
              <a class='item-tag'>Bloemfontein</a>
              <a class='item-tag'>Cape Town</a>
              <a class='item-tag'>Johannesburg Luxury</a>
              <a class='item-tag'>Budget</a>
              <a class='item-tag'>Family</a>
              <a class='item-tag'>Friends</a>
              <a class='item-tag'>Couple</a>
            "><svg class="tag-svg"><use xlink:href="#slider-tags"></use></svg><svg class="arrow-svg"><use xlink:href="#nav-arrow"></use></svg></a>
          </div>
          <h4>Whale-Watching. Very likely to break across two lines</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="results-item">
        <div class="sat-layer"></div>
        <img class="item-image" src="images/filter/results.jpg" alt="">
        <div class="sat-shadow"></div>
        <div class="item-content">
          <div class="category">
            <a class="btn btn-category">Article</a>
            {{!-- <div class="share">
              <svg><use xlink:href="#share"></use></svg>
              <span>16</span>
            </div> --}}
            <a role="button" class="item-tags" data-toggle="popover" data-placement="auto bottom" data-html="true"
            data-content="
              <a class='item-tag'>Adventure</a>
              <a class='item-tag'>Wildlife and Nature</a>
              <a class='item-tag'>Safari</a>
              <a class='item-tag'>Bloemfontein</a>
              <a class='item-tag'>Cape Town</a>
              <a class='item-tag'>Johannesburg Luxury</a>
              <a class='item-tag'>Budget</a>
              <a class='item-tag'>Family</a>
              <a class='item-tag'>Friends</a>
              <a class='item-tag'>Couple</a>
            "><svg class="tag-svg"><use xlink:href="#slider-tags"></use></svg><svg class="arrow-svg"><use xlink:href="#nav-arrow"></use></svg></a>
          </div>
          <h4>Whale-Watching. Very likely to break across two lines</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="results-item">
        <div class="sat-layer"></div>
        <img class="item-image" src="images/filter/results.jpg" alt="">
        <div class="sat-shadow"></div>
        <div class="item-content">
          <div class="category">
            <a class="btn btn-category">Article</a>
            {{!-- <div class="share">
              <svg><use xlink:href="#share"></use></svg>
              <span>16</span>
            </div> --}}
            <a role="button" class="item-tags" data-toggle="popover" data-placement="auto bottom" data-html="true"
            data-content="
              <a class='item-tag'>Adventure</a>
              <a class='item-tag'>Wildlife and Nature</a>
              <a class='item-tag'>Safari</a>
              <a class='item-tag'>Bloemfontein</a>
              <a class='item-tag'>Cape Town</a>
              <a class='item-tag'>Johannesburg Luxury</a>
              <a class='item-tag'>Budget</a>
              <a class='item-tag'>Family</a>
              <a class='item-tag'>Friends</a>
              <a class='item-tag'>Couple</a>
            "><svg class="tag-svg"><use xlink:href="#slider-tags"></use></svg><svg class="arrow-svg"><use xlink:href="#nav-arrow"></use></svg></a>
          </div>
          <h4>Whale-Watching. Very likely to break across two lines</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="results-item">
        <div class="sat-layer"></div>
        <img class="item-image" src="images/filter/results.jpg" alt="">
        <div class="sat-shadow"></div>
        <div class="item-content">
          <div class="category">
            <a class="btn btn-category">Article</a>
            {{!-- <div class="share">
              <svg><use xlink:href="#share"></use></svg>
              <span>16</span>
            </div> --}}
            <a role="button" class="item-tags" data-toggle="popover" data-placement="auto bottom" data-html="true"
            data-content="
              <a class='item-tag'>Adventure</a>
              <a class='item-tag'>Wildlife and Nature</a>
              <a class='item-tag'>Safari</a>
              <a class='item-tag'>Bloemfontein</a>
              <a class='item-tag'>Cape Town</a>
              <a class='item-tag'>Johannesburg Luxury</a>
              <a class='item-tag'>Budget</a>
              <a class='item-tag'>Family</a>
              <a class='item-tag'>Friends</a>
              <a class='item-tag'>Couple</a>
            "><svg class="tag-svg"><use xlink:href="#slider-tags"></use></svg><svg class="arrow-svg"><use xlink:href="#nav-arrow"></use></svg></a>
          </div>
          <h4>Whale-Watching. Very likely to break across two lines</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="results-item">
        <div class="sat-layer"></div>
        <img class="item-image" src="images/filter/results.jpg" alt="">
        <div class="sat-shadow"></div>
        <div class="item-content">
          <div class="category">
            <a class="btn btn-category">Article</a>
            {{!-- <div class="share">
              <svg><use xlink:href="#share"></use></svg>
              <span>16</span>
            </div> --}}
            <a role="button" class="item-tags" data-toggle="popover" data-placement="auto bottom" data-html="true"
            data-content="
              <a class='item-tag'>Adventure</a>
              <a class='item-tag'>Wildlife and Nature</a>
              <a class='item-tag'>Safari</a>
              <a class='item-tag'>Bloemfontein</a>
              <a class='item-tag'>Cape Town</a>
              <a class='item-tag'>Johannesburg Luxury</a>
              <a class='item-tag'>Budget</a>
              <a class='item-tag'>Family</a>
              <a class='item-tag'>Friends</a>
              <a class='item-tag'>Couple</a>
            "><svg class="tag-svg"><use xlink:href="#slider-tags"></use></svg><svg class="arrow-svg"><use xlink:href="#nav-arrow"></use></svg></a>
          </div>
          <h4>Whale-Watching. Very likely to break across two lines</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="results-item">
        <div class="sat-layer"></div>
        <img class="item-image" src="images/filter/results.jpg" alt="">
        <div class="sat-shadow"></div>
        <div class="item-content">
          <div class="category">
            <a class="btn btn-category">Article</a>
            {{!-- <div class="share">
              <svg><use xlink:href="#share"></use></svg>
              <span>16</span>
            </div> --}}
            <a role="button" class="item-tags" data-toggle="popover" data-placement="auto bottom" data-html="true"
            data-content="
              <a class='item-tag'>Adventure</a>
              <a class='item-tag'>Wildlife and Nature</a>
              <a class='item-tag'>Safari</a>
              <a class='item-tag'>Bloemfontein</a>
              <a class='item-tag'>Cape Town</a>
              <a class='item-tag'>Johannesburg Luxury</a>
              <a class='item-tag'>Budget</a>
              <a class='item-tag'>Family</a>
              <a class='item-tag'>Friends</a>
              <a class='item-tag'>Couple</a>
            "><svg class="tag-svg"><use xlink:href="#slider-tags"></use></svg><svg class="arrow-svg"><use xlink:href="#nav-arrow"></use></svg></a>
          </div>
          <h4>Whale-Watching. Very likely to break across two lines</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </div>
</div>
