<div class="cm-sat-m-filter">
  <div class="filter-title container">
    <h2>
      <span><span class="total-items">9</span> articles</span> found for
      <a role="button" class="search-criteria" data-toggle="popover" data-placement="auto bottom" data-html="true"
        data-content="
          <form class='form-inline'>
            <div class='form-group'>
              <label class='sr-only' for='searchInput'>Search</label>
              <div class='input-group'>
                <input type='text' class='form-control' id='searchInput' placeholder='E.g. Safari, Adventure…' value='your search'>
                <div class='input-group-addon filter-submit'><button class='btn btn-primary' type='submit'>
                  <svg class='nav-search-icon nav-icon'><use xlink:href='#nav-search'></use></svg>
                </button></div>
              </div>
            </div>
          </form>
        ">
        <span>your search</span>
        <svg><use xlink:href="#nav-arrow"></use></svg>
      </a>
    </h2>
  </div>

  <div class="filter container">
    <div>
      <form>
        <div class="row visible-xs">
          <div class="col-xs-12">
            <a class="filter-toggle collapsed" role="button" data-toggle="collapse" href="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
              Filter Your Results
            </a>
          </div>
        </div>
        <div class="collapse" id="collapseFilter">
          <div class="row hidden-xs">
            <div class="col-xs-12">
              <span class="filter-text">Filter resulsts by:</span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-2">
              <div class="sat-multiselect filter-dropdown">
                <select class="filter-multiselect" multiple="multiple" data-name="What to do">
                  <option value="adventure">Adventure</option>
                  <option value="artandentertainment">Art and entertainment</option>
                  <option value="attractions">Attractions</option>
                  <option value="cultureandhistory">Culture and history</option>
                  <option value="events">Events</option>
                  <option value="foodandwine">Food and wine</option>
                  <option value="healthandwellness">Health and wellness</option>
                  <option value="routesandtrails">Routes and trails</option>
                  <option value="shoppingandmarkets">Shopping and markets</option>
                  <option value="sport">Sport</option>
                  <option value="wildlifeandnature">Wildlife and nature</option>
                </select>
                <svg class="filter-svg"><use xlink:href="#explore-what"></use></svg>
              </div>
            </div>
            <div class="col-xs-12 col-sm-2">
              <div class="sat-multiselect filter-dropdown">
                <select class="filter-multiselect" multiple="multiple" data-name="Where to go">
                  <optgroup label="Provinces">
                    <option value="easterncape">Eastern Cape</option>
                    <option value="freestate">Free State</option>
                    <option value="gauteng">Gauteng</option>
                    <option value="kwazulu-natal">KwaZulu-Natal</option>
                    <option value="limpopo">Limpopo</option>
                    <option value="mpumalanga">Mpumalanga</option>
                    <option value="northwest">North West</option>
                    <option value="northerncape">Northern Cape</option>
                    <option value="westerncape">Western Cape</option>
                  </optgroup>
                  <optgroup label="Cities">
                    <option value="bloemfontein">Bloemfontein</option>
                    <option value="capetown">Cape Town</option>
                    <option value="durban">Durban</option>
                    <option value="johannesburg">Johannesburg</option>
                    <option value="kimberly">Kimberly</option>
                    <option value="mbombela">Mbombela (Nelspruit)</option>
                    <option value="polokwane">Polokwane</option>
                    <option value="portelizabeth">Port Elizabeth</option>
                    <option value="pretoria">Pretoria</option>
                  </optgroup>
                </select>
                <svg class="filter-svg"><use xlink:href="#explore-where"></use></svg>
              </div>
            </div>
            <div class="col-xs-12 col-sm-2">
              <div class="sat-multiselect filter-dropdown">
                <select class="filter-multiselect" multiple="multiple" data-name="When to visit">
                  <optgroup label="Months">
                    <option value="january">January</option>
                    <option value="february">February</option>
                    <option value="march">March</option>
                    <option value="april">April</option>
                    <option value="may">May</option>
                    <option value="june">June</option>
                    <option value="july">July</option>
                    <option value="august">August</option>
                    <option value="september">September</option>
                    <option value="october">October</option>
                    <option value="november">November</option>
                    <option value="december">December</option>
                  </optgroup>
                  <optgroup label="Others">
                    <option value="allyear">All year</option>
                    <option value="easter">Easter</option>
                    <option value="christmas">Christmas</option>
                  </optgroup>
                </select>
                <svg class="filter-svg"><use xlink:href="#explore-when"></use></svg>
              </div>
            </div>
            <div class="col-xs-12 col-sm-2">
              <div class="sat-multiselect filter-dropdown">
                <select class="filter-multiselect" multiple="multiple" data-name="Which price">
                  <option value="luxury">Luxury</option>
                  <option value="midrange">Mid range</option>
                  <option value="budget">Budget</option>
                </select>
                <svg class="filter-svg"><use xlink:href="#explore-which"></use></svg>
              </div>
            </div>
            <div class="col-xs-12 col-sm-2">
              <div class="sat-multiselect filter-dropdown">
                <select class="filter-multiselect" multiple="multiple" data-name="Who with">
                  <option value="families">Families</option>
                  <option value="groups">Groups</option>
                  <option value="couples">Couples</option>
                  <option value="solo">Solo</option>
                </select>
                <svg class="filter-svg"><use xlink:href="#explore-who"></use></svg>
              </div>
            </div>
            <div class="col-xs-12 col-sm-2">
              <button type="submit" class="filter-cta btn btn-primary">Go</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="filter-results container">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="results-item">
        <div class="sat-layer"></div>
        <img class="item-image" src="images/filter/results.jpg" alt="">
        <div class="sat-shadow"></div>
        <div class="item-content">
          <div class="category">
            <a class="btn btn-category">Article</a>
            {{!-- <div class="share">
              <svg><use xlink:href="#share"></use></svg>
              <span>16</span>
            </div> --}}
            <a role="button" class="item-tags" data-toggle="popover" data-placement="auto bottom" data-html="true"
            data-content="
              <a class='item-tag'>Adventure</a>
              <a class='item-tag'>Wildlife and nature</a>
            "><svg class="tag-svg"><use xlink:href="#slider-tags"></use></svg><svg class="arrow-svg"><use xlink:href="#nav-arrow"></use></svg></a>
          </div>
          <h4>Whale-Watching. Very likely to break across two lines</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="results-item">
        <div class="sat-layer"></div>
        <img class="item-image" src="images/filter/results.jpg" alt="">
        <div class="sat-shadow"></div>
        <div class="item-content">
          <div class="category">
            <a class="btn btn-category">Article</a>
            {{!-- <div class="share">
              <svg><use xlink:href="#share"></use></svg>
              <span>16</span>
            </div> --}}
            <a role="button" class="item-tags" data-toggle="popover" data-placement="auto bottom" data-html="true"
            data-content="
              <a class='item-tag'>Sport</a>
              <a class='item-tag'>Bloemfontein</a>
            "><svg class="tag-svg"><use xlink:href="#slider-tags"></use></svg><svg class="arrow-svg"><use xlink:href="#nav-arrow"></use></svg></a>
          </div>
          <h4>Whale-Watching. Very likely to break across two lines</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="results-item">
        <div class="sat-layer"></div>
        <img class="item-image" src="images/filter/results.jpg" alt="">
        <div class="sat-shadow"></div>
        <div class="item-content">
          <div class="category">
            <a class="btn btn-category">Article</a>
            {{!-- <div class="share">
              <svg><use xlink:href="#share"></use></svg>
              <span>16</span>
            </div> --}}
            <a role="button" class="item-tags" data-toggle="popover" data-placement="auto bottom" data-html="true"
            data-content="
              <a class='item-tag'>Cape Town</a>
              <a class='item-tag'>Johannesburg</a>
            "><svg class="tag-svg"><use xlink:href="#slider-tags"></use></svg><svg class="arrow-svg"><use xlink:href="#nav-arrow"></use></svg></a>
          </div>
          <h4>Whale-Watching. Very likely to break across two lines</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="results-item">
        <div class="sat-layer"></div>
        <img class="item-image" src="images/filter/results.jpg" alt="">
        <div class="sat-shadow"></div>
        <div class="item-content">
          <div class="category">
            <a class="btn btn-category">Article</a>
            {{!-- <div class="share">
              <svg><use xlink:href="#share"></use></svg>
              <span>16</span>
            </div> --}}
            <a role="button" class="item-tags" data-toggle="popover" data-placement="auto bottom" data-html="true"
            data-content="
              <a class='item-tag'>Budget</a>
              <a class='item-tag'>Families</a>
            "><svg class="tag-svg"><use xlink:href="#slider-tags"></use></svg><svg class="arrow-svg"><use xlink:href="#nav-arrow"></use></svg></a>
          </div>
          <h4>Whale-Watching. Very likely to break across two lines</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="results-item">
        <div class="sat-layer"></div>
        <img class="item-image" src="images/filter/results.jpg" alt="">
        <div class="sat-shadow"></div>
        <div class="item-content">
          <div class="category">
            <a class="btn btn-category">Article</a>
            {{!-- <div class="share">
              <svg><use xlink:href="#share"></use></svg>
              <span>16</span>
            </div> --}}
            <a role="button" class="item-tags" data-toggle="popover" data-placement="auto bottom" data-html="true"
            data-content="
              <a class='item-tag'>Adventure</a>
              <a class='item-tag'>Wildlife and Nature</a>
              <a class='item-tag'>Sport</a>
              <a class='item-tag'>Bloemfontein</a>
              <a class='item-tag'>Cape Town</a>
              <a class='item-tag'>Johannesburg</a>
              <a class='item-tag'>Budget</a>
              <a class='item-tag'>Families</a>
              <a class='item-tag'>Groups</a>
              <a class='item-tag'>Couples</a>
            "><svg class="tag-svg"><use xlink:href="#slider-tags"></use></svg><svg class="arrow-svg"><use xlink:href="#nav-arrow"></use></svg></a>
          </div>
          <h4>Whale-Watching. Very likely to break across two lines</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="results-item">
        <div class="sat-layer"></div>
        <img class="item-image" src="images/filter/results.jpg" alt="">
        <div class="sat-shadow"></div>
        <div class="item-content">
          <div class="category">
            <a class="btn btn-category">Article</a>
            {{!-- <div class="share">
              <svg><use xlink:href="#share"></use></svg>
              <span>16</span>
            </div> --}}
            <a role="button" class="item-tags" data-toggle="popover" data-placement="auto bottom" data-html="true"
            data-content="
              <a class='item-tag'>Adventure</a>
              <a class='item-tag'>Wildlife and Nature</a>
              <a class='item-tag'>Safari</a>
              <a class='item-tag'>Bloemfontein</a>
              <a class='item-tag'>Cape Town</a>
              <a class='item-tag'>Johannesburg Luxury</a>
              <a class='item-tag'>Budget</a>
              <a class='item-tag'>Family</a>
              <a class='item-tag'>Friends</a>
              <a class='item-tag'>Couple</a>
            "><svg class="tag-svg"><use xlink:href="#slider-tags"></use></svg><svg class="arrow-svg"><use xlink:href="#nav-arrow"></use></svg></a>
          </div>
          <h4>Whale-Watching. Very likely to break across two lines</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
    </div>
  </div>

  <div class="filter-loadmore container">
    <a href="/api/search?q=shark&p=2" class="btn btn-loadmore"><span class="lm-current">6</span> of <span class="lm-total">9</span> - Load More Results</a>
  </div>
</div>
