<div class="cm-sat-m-footer">
  <div class="footer-social">
    <div class="container">
      <div class="row">
        <ul class="list-unstyled">
          <li class="col-md-12 panel-group" role="tablist">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="collapseListGroupHeading1">
                <h4 class="panel-title">
                  <a class="collapsed footer-title" role="button" data-toggle="collapse" href="#collapseListGroup1" aria-expanded="false" aria-controls="collapseListGroup1">
                    Our Social Channels
                    <div class="nav-caret caret-open"><svg><use xlink:href="#nav-arrow"></use></svg></div>
                    <div class="nav-caret caret-close"><svg class="rotate-180"><use xlink:href="#nav-arrow"></use></svg></div>
                  </a>
                </h4>
              </div>
              <div id="collapseListGroup1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading1" aria-expanded="false" style="height: 0px;">
                <ul class="list-group">
                  <li class="list-group-item col-sm-7ths">
                    <a class="social-item facebook" target="_blank" href="https://www.facebook.com/SouthAfricanTourism">
                      <svg><use xlink:href="#social-facebook"></use></svg>
                      <span>Facebook</span>
                    </a>
                  </li>
                  <li class="list-group-item col-sm-7ths">
                    <a class="social-item twitter" target="_blank" href="https://twitter.com/gotosouthafrica">
                      <svg><use xlink:href="#social-twitter"></use></svg>
                      <span>Twitter</span>
                    </a>
                  </li>
                  <li class="list-group-item col-sm-7ths">
                    <a class="social-item instagram" target="_blank" href="http://instagram.com/meetsouthafrica">
                      <svg><use xlink:href="#social-instagram"></use></svg>
                      <span>Instagram</span>
                    </a>
                  </li>
                  <li class="list-group-item col-sm-7ths">
                    <a class="social-item google" target="_blank" href="https://plus.google.com/u/0/b/100161953649945367731/+SouthAfricanTourism/posts">
                      <svg><use xlink:href="#social-google"></use></svg>
                      <span>Google</span>
                    </a>
                  </li>
                  <li class="list-group-item col-sm-7ths">
                    <a class="social-item pinterest" target="_blank" href="http://www.pinterest.com/meetsouthafrica">
                      <svg><use xlink:href="#social-pinterest"></use></svg>
                      <span>Pinterest</span>
                    </a>
                  </li>
                  <li class="list-group-item col-sm-7ths">
                    <a class="social-item youtube" target="_blank" href="http://www.youtube.com/user/SouthAfricanTourism">
                      <svg><use xlink:href="#social-youtube"></use></svg>
                      <span>Youtube</span>
                    </a>
                  </li>
                  <li class="list-group-item col-sm-7ths">
                    <a class="social-item flickr" target="_blank" href="https://www.flickr.com/photos/south-african-tourism">
                      <svg><use xlink:href="#social-flickr"></use></svg>
                      <span>Flickr</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-menu">
    <div class="container">
      <div class="row">
        <ul class="list-unstyled">
          <li class="col-sm-3 panel-group menu-contact" role="tablist">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="collapseListGroupHeading2">
                <h4 class="panel-title">
                  <a class="collapsed footer-title" role="button" data-toggle="collapse" href="#collapseListGroup2" aria-expanded="false" aria-controls="collapseListGroup2">
                    Contact us
                    <div class="nav-caret caret-open"><svg><use xlink:href="#nav-arrow"></use></svg></div>
                    <div class="nav-caret caret-close"><svg class="rotate-180"><use xlink:href="#nav-arrow"></use></svg></div>
                  </a>
                </h4>
              </div>
              <div id="collapseListGroup2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading2" aria-expanded="false" style="height: 0px;">
                <ul class="list-group">
                  <li class="list-group-item heading">United Kingdom and Ireland</li>
                  <li class="list-group-item">Phone: +44 (0) 20 8971 9350</li>
                  <li class="list-group-item">Fax: +44 20 8944 6705</li>
                  <li class="list-group-item">E-Mail: <a target="_blank" href="#">info@uk.southafrica.net</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li class="col-sm-3 panel-group menu-links" role="tablist">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="collapseListGroupHeading3">
                <h4 class="panel-title">
                  <a class="collapsed footer-title" role="button" data-toggle="collapse" href="#collapseListGroup3" aria-expanded="false" aria-controls="collapseListGroup3">
                    Links
                    <div class="nav-caret caret-open"><svg><use xlink:href="#nav-arrow"></use></svg></div>
                    <div class="nav-caret caret-close"><svg class="rotate-180"><use xlink:href="#nav-arrow"></use></svg></div>
                  </a>
                </h4>
              </div>
              <div id="collapseListGroup3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading3" aria-expanded="false" style="height: 0px;">
                <ul class="list-group">
                  <li class="list-group-item heading">Legal</li>
                  <li class="list-group-item"><a target="_blank" href="#">Disclaimer</a></li>
                  <li class="list-group-item"><a target="_blank" href="#">Privacy Policy</a></li>
                  <li class="list-group-item heading">Others</li>
                  <li class="list-group-item"><a target="_blank" href="#">Media</a></li>
                  <li class="list-group-item"><a target="_blank" href="#">Become An Sa Specialist</a></li>
                  <li class="list-group-item"><a target="_blank" href="#">Research</a></li>
                  <li class="list-group-item"><a target="_blank" href="#">Indaba</a></li>
                  <li class="list-group-item"><a target="_blank" href="#">Tenders</a></li>
                  <li class="list-group-item"><a target="_blank" href="#">Meetings Africa</a></li>
                  <li class="list-group-item"><a target="_blank" href="#">Eteya</a></li>
                  <li class="list-group-item"><a target="_blank" href="#">Blog</a></li>
                </ul>
              </div>
            </div>
          </li>
          <li class="col-sm-3 panel-group menu-attribution" role="tablist">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="collapseListGroupHeading4">
                <h4 class="panel-title">
                  <a class="collapsed footer-title" role="button" data-toggle="collapse" href="#collapseListGroup4" aria-expanded="false" aria-controls="collapseListGroup4">
                    Attribution
                    <div class="nav-caret caret-open"><svg><use xlink:href="#nav-arrow"></use></svg></div>
                    <div class="nav-caret caret-close"><svg class="rotate-180"><use xlink:href="#nav-arrow"></use></svg></div>
                  </a>
                </h4>
              </div>
              <div id="collapseListGroup4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading4" aria-expanded="false" style="height: 0px;">
                <ul class="list-group">
                  <li class="list-group-item heading">Ratings</li>
                  <li class="list-group-item">Provided By <a target="_blank" href="#">Tripadvisor</a></li>
                  <li class="list-group-item"><svg class="trip-advisor"><use xlink:href="#trip-advisor"></use></svg></li>
                  <li class="list-group-item heading">Weather Information</li>
                  <li class="list-group-item">Powered By <a target="_blank" href="#">World Weather Online</a></li>
                  <li class="list-group-item heading">Photography</li>
                  <li class="list-group-item"><a target="_blank" href="#">Contact Us</a> If You Have Any Questions About The Images Used.</li>
                </ul>
              </div>
            </div>
          </li>
          <li class="col-sm-3 panel-group menu-legal" role="tablist">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="collapseListGroupHeading5">
                <h4 class="panel-title">
                  <a class="collapsed footer-title" role="button" data-toggle="collapse" href="#collapseListGroup5" aria-expanded="false" aria-controls="collapseListGroup5">
                    Legal
                    <div class="nav-caret caret-open"><svg><use xlink:href="#nav-arrow"></use></svg></div>
                    <div class="nav-caret caret-close"><svg class="rotate-180"><use xlink:href="#nav-arrow"></use></svg></div>
                  </a>
                </h4>
              </div>
              <div id="collapseListGroup5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading5" aria-expanded="false" style="height: 0px;">
                <ul class="list-group">
                  <li class="list-group-item heading">© 2015 South African Tourism</li>
                  <li class="list-group-item">All Rights Reserved.</li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
