<div class="container">
  <div class="col-xs-12">
    <div class="cm-sat-m-wishlist-login">
      <div class="pull-left">
        <p>Your Wishlist hasn’t been saved yet. Save it via social logins to take your adventures with you.</p>
      </div>
      <div class="pull-right">
        <a href="#" class="btn btn-social twitter">
          <svg><use xlink:href="#social-twitter"></use></svg>
          Login with Twitter
        </a>
        <a href="#" class="btn btn-social facebook">
          <svg><use xlink:href="#social-facebook"></use></svg>
          Login with Facebook
        </a>
      </div>
    </div>
  </div>
</div>
