
// Display content as table
.h-table {
  width: 100%;
  display: table;
  text-align: center;

  > .h-cell {
    display: table-cell;
    vertical-align: middle;
  }

  .h-is-top {
    vertical-align: top;
    padding-top: 50px;
  }

  .h-is-bottom {
    vertical-align: bottom;
    padding-bottom: 40px;
  }

}
// Bootstrap remove gutter
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.no-padding {
  padding: 0;
}

.rotate-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.rotate-180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.trip-advisor {
  width: 113px;
  height: 18px;
}
.no-scroll{
  height: 100%;
  overflow: hidden;
}
// SAT Image Shadow
.sat-shadow {
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="transparent", endColorstr="#000000");
  background-image: -khtml-gradient(linear, left top, left bottom, from(transparent), to(#000000));
  background-image: -moz-linear-gradient(top, transparent, #000000);
  background-image: -ms-linear-gradient(top, transparent, #000000);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, transparent, #000000);
  background-image: -o-linear-gradient(top, transparent, #000000);
  background-image: linear-gradient(transparent, #000000);
  -webkit-font-smoothing: antialiased;
}

// SAT Container
.sat-container {
  max-width: 760px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

// Mobile
@include breakpoint("phone") {
  // Bootstrap remove container padding.
  .m-no-padding {
    padding: 0;
  }

  // Bootstrap remove container margin.
  .m-no-margin {
    margin: 0;
  }
}
