<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="prograV.DS.DB.dbConnection" connectionString="Data Source=ADRIANA\SQLEXPRESS;Initial Catalog=Agencia;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>