<div class="cm-sat-m-alternative">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>Start your adventure</h2>
      </div>
    </div>
    <div class="row js-slick-alternative">
      <div class="alternative">
        <div class="col-sm-5 col-md-4 alternative-image">
          <img class="img-responsive" src="images/top10-alternative/image.jpg" alt="">
        </div>
        <div class="col-sm-7 col-md-8 alternative-content">
          <div class="col-md-8">
            <h2>Affordable</h2>
            <p>During these tough times, who doesn’t want an affordable holiday? In South Africa, you can even afford luxury and have spending money for shopping and other treats!</p>
            <a href="#">Learn More</a>
          </div>
          <div class="visible-md visible-lg col-md-4 alternative-number">1</div>
        </div>
      </div>
      <div class="alternative">
        <div class="col-sm-5 col-md-4 alternative-image">
          <img class="img-responsive" src="images/top10-alternative/image.jpg" alt="">
        </div>
        <div class="col-sm-7 col-md-8 alternative-content">
          <div class="col-md-8">
            <h2>Natural Beauty</h2>
            <p>South Africa’s scenic wonders are legendary. From Table Mountain to God’s Window, our mountains, forests, coasts and deserts will feast your eye and lift your spirit…</p>
            <a href="#">Learn More</a>
          </div>
          <div class="visible-md visible-lg col-md-4 alternative-number">2</div>
        </div>
      </div>
      <div class="alternative">
        <div class="col-sm-5 col-md-4 alternative-image">
          <img class="img-responsive" src="images/top10-alternative/image.jpg" alt="">
        </div>
        <div class="col-sm-7 col-md-8 alternative-content">
          <div class="col-md-8">
            <h2>World-class Facilities</h2>
            <p>Whether you opt for Afro-chic or authentic Africa, you’ll find it easy to get around, find a comfortable place to stay, have a great meal, connect.</p>
            <a href="#">Learn More</a>
          </div>
          <div class="visible-md visible-lg col-md-4 alternative-number">3</div>
        </div>
      </div>
      <div class="alternative">
        <div class="col-sm-5 col-md-4 alternative-image">
          <img class="img-responsive" src="images/top10-alternative/image.jpg" alt="">
        </div>
        <div class="col-sm-7 col-md-8 alternative-content">
          <div class="col-md-8">
            <h2>Adventure</h2>
            <p>South Africa is the adventure capital of the world. With over 130 adventures and counting, there is something for everyone from mountain walks to shark cage-diving!</p>
            <a href="#">Learn More</a>
          </div>
          <div class="visible-md visible-lg col-md-4 alternative-number">4</div>
        </div>
      </div>
      <div class="alternative">
        <div class="col-sm-5 col-md-4 alternative-image">
          <img class="img-responsive" src="images/top10-alternative/image.jpg" alt="">
        </div>
        <div class="col-sm-7 col-md-8 alternative-content">
          <div class="col-md-8">
            <h2>Good Weather</h2>
            <p>In sunny South Africa, our great weather invites you to enjoy the outdoors, play golf year-round and take advantage of the nearly 3000km coastline…</p>
            <a href="#">Learn More</a>
          </div>
          <div class="visible-md visible-lg col-md-4 alternative-number">5</div>
        </div>
      </div>
      <div class="alternative">
        <div class="col-sm-5 col-md-4 alternative-image">
          <img class="img-responsive" src="images/top10-alternative/image.jpg" alt="">
        </div>
        <div class="col-sm-7 col-md-8 alternative-content">
          <div class="col-md-8">
            <h2>Rainbow Nation</h2>
            <p>The Rainbow Nation celebrates all its African and immigrant cultures. Find out how friendly our people are whilst you try your tongue at 11 official languages!</p>
            <a href="#">Learn More</a>
          </div>
          <div class="visible-md visible-lg col-md-4 alternative-number">6</div>
        </div>
      </div>
      <div class="alternative">
        <div class="col-sm-5 col-md-4 alternative-image">
          <img class="img-responsive" src="images/top10-alternative/image.jpg" alt="">
        </div>
        <div class="col-sm-7 col-md-8 alternative-content">
          <div class="col-md-8">
            <h2>Rainbow Nation</h2>
            <p>Go almost anywhere in South Arica and experience the ultimate combo of nature, wildlife, culture, adventure, heritage and vibe – you’re spoilt for choice, so pack it in!</p>
            <a href="#">Learn More</a>
          </div>
          <div class="visible-md visible-lg col-md-4 alternative-number">7</div>
        </div>
      </div>
      <div class="alternative">
        <div class="col-sm-5 col-md-4 alternative-image">
          <img class="img-responsive" src="images/top10-alternative/image.jpg" alt="">
        </div>
        <div class="col-sm-7 col-md-8 alternative-content">
          <div class="col-md-8">
            <h2>Wildlife</h2>
            <p>Warning! Watching wildlife is addictive. First you start with the Big Five in so many ways, then whales, penguins, meerkats, wild dogs, birds, dung beetles…</p>
            <a href="#">Learn More</a>
          </div>
          <div class="visible-md visible-lg col-md-4 alternative-number">8</div>
        </div>
      </div>
      <div class="alternative">
        <div class="col-sm-5 col-md-4 alternative-image">
          <img class="img-responsive" src="images/top10-alternative/image.jpg" alt="">
        </div>
        <div class="col-sm-7 col-md-8 alternative-content">
          <div class="col-md-8">
            <h2>Freedom Struggle</h2>
            <p>Discover a nation’s struggle for freedom whilst following the footsteps of Mandela, Hector Pieterson and many other celebrated revolutionaries. It will touch and inspire you.</p>
            <a href="#">Learn More</a>
          </div>
          <div class="visible-md visible-lg col-md-4 alternative-number">9</div>
        </div>
      </div>
      <div class="alternative">
        <div class="col-sm-5 col-md-4 alternative-image">
          <img class="img-responsive" src="images/top10-alternative/image.jpg" alt="">
        </div>
        <div class="col-sm-7 col-md-8 alternative-content">
          <div class="col-md-8">
            <h2>Responsible Tourism</h2>
            <p>In South Africa you can travel with care as you explore our protected areas, contribute to social and conservation projects, buy recycle art and stay green.</p>
            <a href="#">Learn More</a>
          </div>
          <div class="visible-md visible-lg col-md-4 alternative-number">10</div>
        </div>
      </div>
    </div>
  </div>
</div>
