<div class="cm-sat-m-homepage-grid is-world">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>Dive into real adventures</h2>
      </div>
    </div>
  </div>

  {{!-- Desktop Version --}}
  <div class="container is-desktop hidden-xs">
    <div class="row">
      <div class="col-sm-4 col-md-2">
        <div class="row">
          {{!-- Item #1 --}}
          <div class="col-sm-12 grid-item half-height">
            <div class="loading grid-box item-hover">
              <img src="images/grids/desktop-homepage-adventures-8.jpg" alt="">
              <div class="hover-close"><svg><use xlink:href="#close"></use></svg></div>
              <div class="sat-shadow"></div>
              <div class="grid-content">
                <div class="category">
                  <a class="btn btn-category">Blog</a>
                </div>
                <h4>Map your braai across south africa</h4>
                <p>Lorem ipsum dolor sit amet, consectetur pisicing elit, sed do</p>
                <a href="#" class="btn btn-primary">Learn More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          {{!-- Item #2 --}}
          <div class="col-sm-12 grid-item half-height">
            <div class="loading grid-box item-hover">
              <img src="images/grids/desktop-homepage-adventures-9.jpg" alt="">
              <div class="hover-close"><svg><use xlink:href="#close"></use></svg></div>
              <div class="sat-shadow"></div>
              <div class="grid-content">
                <h4>Rhulani Safari Lodge</h4>
                <h4 class="special">£2,300</h4>
                <p>Package duration: 9 nights (with optional add-ons)</p>
                <a href="#" class="btn btn-primary">Learn More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          {{!-- Item #6 --}}
          <div class="col-sm-12 grid-item half-height">
            <div class="loading grid-box">
              <img src="images/grids/desktop-homepage-adventures-4.jpg" alt="">
              <div class="sat-shadow"></div>
              <div class="grid-content">
                <p class="special">Meet us at</p>
                <h4 class="special">World Travel Market 2015</h4>
                <p class="special">June 14–17th 2015 London, UK</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-md-4">
        <div class="row">
          {{!-- Item #3 --}}
          <div class="col-sm-12 grid-item full-height">
            <div class="loading grid-box item-hover">
              <img src="images/grids/desktop-homepage-adventures-1.jpg" alt="">
              <div class="hover-close"><svg><use xlink:href="#close"></use></svg></div>
              <div class="sat-shadow"></div>
              <div class="grid-content">
                <div class="category">
                  <a class="btn btn-category">Article</a>
                  {{!-- <div class="share">
                    <svg><use xlink:href="#share"></use></svg>
                    <span>13</span>
                  </div> --}}
                </div>
                <h4>Top 10 Cities</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                <a href="#" class="btn btn-primary">Learn More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          {{!-- Item #7 --}}
          <div class="col-sm-12 grid-item half-height">
            <div class="loading grid-box item-hover">
              <img src="images/grids/desktop-homepage-adventures-6.jpg" alt="">
              <div class="hover-close"><svg><use xlink:href="#close"></use></svg></div>
              <div class="sat-shadow"></div>
              <div class="grid-content">
                <div class="category">
                  <a class="btn btn-category">Blog</a>
                </div>
                <h4>South african sporting events 2015: What to look forward to</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                <a href="#" class="btn btn-primary">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="row">
          {{!-- Item #4 --}}
          <div class="col-sm-8 grid-item half-height">
            <div class="loading grid-box item-hover">
              <img src="images/grids/desktop-homepage-adventures-6.jpg" alt="">
              <div class="hover-close"><svg><use xlink:href="#close"></use></svg></div>
              <div class="sat-shadow"></div>
              <div class="grid-content">
                <div class="category">
                  <a class="btn btn-category">Blog</a>
                </div>
                <h4>South african sporting events 2015: What to look forward to</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                <a href="#" class="btn btn-primary">Learn More</a>
              </div>
            </div>
          </div>
          {{!-- Item #5 --}}
          <div class="col-sm-4 grid-item half-height">
            <div class="loading grid-box item-hover">
              <img src="images/grids/desktop-homepage-adventures-9.jpg" alt="">
              <div class="hover-close"><svg><use xlink:href="#close"></use></svg></div>
              <div class="sat-shadow"></div>
              <div class="grid-content">
                <h4>Rhulani Safari Lodge</h4>
                <h4 class="special">£2,300</h4>
                <p>Package duration: 9 nights (with optional add-ons)</p>
                <a href="#" class="btn btn-primary">Learn More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 no-padding">
            {{!-- Item #8 --}}
            <div class="col-sm-12 grid-item half-height">
              <div class="loading grid-box item-hover">
                <img src="images/grids/desktop-homepage-adventures-8.jpg" alt="">
                <div class="hover-close"><svg><use xlink:href="#close"></use></svg></div>
                <div class="sat-shadow"></div>
                <div class="grid-content">
                  <div class="category">
                    <a class="btn btn-category">Blog</a>
                  </div>
                  <h4>Map your braai across south africa</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur pisicing elit, sed do</p>
                  <a href="#" class="btn btn-primary">Learn More</a>
                </div>
              </div>
            </div>
            {{!-- Item #9 --}}
            <div class="col-sm-12 grid-item half-height">
              <div class="loading grid-box">
                <img src="images/grids/desktop-homepage-adventures-4.jpg" alt="">
                <div class="sat-shadow"></div>
                <div class="grid-content">
                  <p class="special">Meet us at</p>
                  <h4 class="special">World Travel Market 2015</h4>
                  <p class="special">June 14–17th 2015 London, UK</p>
                </div>
              </div>
            </div>
          </div>
          {{!-- Item #10 --}}
          <div class="col-sm-8 grid-item full-height">
            <div class="loading grid-box item-hover">
              <img src="images/grids/desktop-homepage-adventures-7.jpg" alt="">
              <div class="sat-shadow"></div>
              <div class="grid-content">
                <div class="category">
                  <a class="btn btn-category">Article</a>
                  {{!-- <div class="share">
                    <svg><use xlink:href="#share"></use></svg>
                    <span>16</span>
                  </div> --}}
                </div>
                <h4>Whale-watching: eye-to-eye with the ocean’s gentle giants</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                <a href="#" class="btn btn-primary">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{!-- Mobile Version --}}
  <div class="container is-mobile visible-xs">
    <div class="row">
      {{!-- Item #1 --}}
      <div class="col-xs-6 grid-item half-height">
        <div class="grid-box item-hover">
          <img src="images/grids/mobile-homepage-adventures-8.jpg" alt="">
          <div class="hover-close"><svg><use xlink:href="#close"></use></svg></div>
          <div class="sat-shadow"></div>
          <div class="grid-content">
            <div class="category">
              <a class="btn btn-category">Blog</a>
            </div>
            <h4>Map your braai across south africa</h4>
            <p>Lorem ipsum dolor sit amet, consectetur pisicing elit, sed do</p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      {{!-- Item #2 --}}
      <div class="col-xs-6 grid-item half-height">
        <div class="grid-box item-hover">
          <img src="images/grids/mobile-homepage-adventures-9.jpg" alt="">
          <div class="hover-close"><svg><use xlink:href="#close"></use></svg></div>
          <div class="sat-shadow"></div>
          <div class="grid-content">
            <h4>Rhulani Safari Lodge</h4>
            <h4 class="special">£2,300</h4>
            <p>Package duration: 9 nights (with optional add-ons)</p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      {{!-- Item #3 --}}
      <div class="col-xs-12 grid-item full-height">
        <div class="grid-box item-hover">
          <img src="images/grids/mobile-homepage-adventures-1.jpg" alt="">
          <div class="hover-close"><svg><use xlink:href="#close"></use></svg></div>
          <div class="sat-shadow"></div>
          <div class="grid-content">
            <div class="category">
              <a class="btn btn-category">Article</a>
              {{!-- <div class="share">
                <svg><use xlink:href="#share"></use></svg>
                <span>13</span>
              </div> --}}
            </div>
            <h4>Top 10 Cities</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      {{!-- Item #4 --}}
      <div class="col-xs-12 grid-item half-height">
        <div class="grid-box item-hover">
          <img src="images/grids/mobile-homepage-adventures-6.jpg" alt="">
          <div class="hover-close"><svg><use xlink:href="#close"></use></svg></div>
          <div class="sat-shadow"></div>
          <div class="grid-content">
            <div class="category">
              <a class="btn btn-category">Blog</a>
            </div>
            <h4>South african sporting events 2015: What to look forward to</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      {{!-- Item #5 --}}
      <div class="col-xs-6 grid-item half-height">
        <div class="grid-box item-hover">
          <img src="images/grids/mobile-homepage-adventures-9.jpg" alt="">
          <div class="hover-close"><svg><use xlink:href="#close"></use></svg></div>
          <div class="sat-shadow"></div>
          <div class="grid-content">
            <h4>Rhulani Safari Lodge</h4>
            <h4 class="special">£2,300</h4>
            <p>Package duration: 9 nights (with optional add-ons)</p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      {{!-- Item #6 --}}
      <div class="col-xs-6 grid-item half-height">
        <div class="grid-box">
          <img src="images/grids/mobile-homepage-adventures-4.jpg" alt="">
          <div class="sat-shadow"></div>
          <div class="grid-content">
            <p class="special">Meet us at</p>
            <h4 class="special">World Travel Market 2015</h4>
            <p class="special">June 14–17th 2015 London, UK</p>
          </div>
        </div>
      </div>
      {{!-- Item #7 --}}
      <div class="col-xs-12 grid-item half-height">
        <div class="grid-box item-hover">
          <img src="images/grids/mobile-homepage-adventures-6.jpg" alt="">
          <div class="hover-close"><svg><use xlink:href="#close"></use></svg></div>
          <div class="sat-shadow"></div>
          <div class="grid-content">
            <div class="category">
              <a class="btn btn-category">Blog</a>
            </div>
            <h4>South african sporting events 2015: What to look forward to</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      {{!-- Item #8 --}}
      <div class="col-xs-6 grid-item half-height">
        <div class="grid-box item-hover">
          <img src="images/grids/mobile-homepage-adventures-8.jpg" alt="">
          <div class="hover-close"><svg><use xlink:href="#close"></use></svg></div>
          <div class="sat-shadow"></div>
          <div class="grid-content">
            <div class="category">
              <a class="btn btn-category">Blog</a>
            </div>
            <h4>Map your braai across south africa</h4>
            <p>Lorem ipsum dolor sit amet, consectetur pisicing elit, sed do</p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      {{!-- Item #9 --}}
      <div class="col-xs-6 grid-item half-height">
        <div class="grid-box">
          <img src="images/grids/mobile-homepage-adventures-4.jpg" alt="">
          <div class="sat-shadow"></div>
          <div class="grid-content">
            <p class="special">Meet us at</p>
            <h4 class="special">World Travel Market 2015</h4>
            <p class="special">June 14–17th 2015 London, UK</p>
          </div>
        </div>
      </div>
      {{!-- Item #10 --}}
      <div class="col-xs-12 grid-item full-height">
        <div class="grid-box item-hover">
          <img src="images/grids/mobile-homepage-adventures-7.jpg" alt="">
          <div class="sat-shadow"></div>
          <div class="grid-content">
            <div class="category">
              <a class="btn btn-category">Article</a>
              {{!-- <div class="share">
                <svg><use xlink:href="#share"></use></svg>
                <span>16</span>
              </div> --}}
            </div>
            <h4>Whale-watching: eye-to-eye with the ocean’s gentle giants</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            <a href="#" class="btn btn-primary">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
