<div class="cm-sat-m-related">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>Keep your adventure going</h2>
      </div>
    </div>
    <div class="row js-slick-related">
      <div class="col-xs-12 col-md-2">
        <a href="#">
          <div class="related-item">
            <div class="related-image" style="background-image: url(images/grids/related.jpg);"></div>
            <div class="sat-shadow"></div>
            <div class="related-content">
              <div class="category">
                <button class="btn btn-category">Article</button>
                {{!-- <div class="share">
                  <svg><use xlink:href="#share"></use></svg>
                  <span>23</span>
                </div> --}}
              </div>
              <h4>Nature Reserves Of The Free State</h4>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-md-2">
        <a href="#">
          <div class="related-item">
            <div class="related-image" style="background-image: url(images/grids/related.jpg);"></div>
            <div class="sat-shadow"></div>
            <div class="related-content">
              <div class="category">
                <button class="btn btn-category">Article</button>
                {{!-- <div class="share">
                  <svg><use xlink:href="#share"></use></svg>
                  <span>02</span>
                </div> --}}
              </div>
              <h4>Nature Reserves Of The Free State</h4>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-md-2">
        <a href="#">
          <div class="related-item">
            <div class="related-image" style="background-image: url(images/grids/related.jpg);"></div>
            <div class="sat-shadow"></div>
            <div class="related-content">
              <div class="category">
                <button class="btn btn-category">Article</button>
                {{!-- <div class="share">
                  <svg><use xlink:href="#share"></use></svg>
                  <span>03</span>
                </div> --}}
              </div>
              <h4>Nature Reserves Of The Free State</h4>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-md-2">
        <a href="#">
          <div class="related-item">
            <div class="related-image" style="background-image: url(images/grids/related.jpg);"></div>
            <div class="sat-shadow"></div>
            <div class="related-content">
              <div class="category">
                <button class="btn btn-category">Article</button>
                {{!-- <div class="share">
                  <svg><use xlink:href="#share"></use></svg>
                  <span>16</span>
                </div> --}}
              </div>
              <h4>Nature Reserves Of The Free State</h4>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-md-2">
        <a href="#">
          <div class="related-item">
            <div class="related-image" style="background-image: url(images/grids/related.jpg);"></div>
            <div class="sat-shadow"></div>
            <div class="related-content">
              <h4>Nature Reserves Of The Free State</h4>
              <span class="price">&euro;1,300</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col-xs-12 col-md-2">
        <a href="#">
          <div class="related-item">
            <div class="related-image" style="background-image: url(images/grids/related.jpg);"></div>
            <div class="sat-shadow"></div>
            <div class="related-content">
              <h4>Nature Reserves Of The Free State</h4>
              <span class="price">&euro;1,300</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
