<div class="cm-sat-m-social" data--150-bottom>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h2>Live in the moment</h2>
      </div>
    </div>
    <div class="row js-slick-social">
      <div class="col-xs-12 col-md-2">
        <div class="social-item facebook">
          <a target="_blank" href="https://www.facebook.com/SouthAfricanTourism">
            <div class="social-image" style="background-image: url(images/grids/social.jpg);"></div>
            <div class="social-layer has-image"></div>
            <div class="social-content">
              <div class="category social">
                <div class="box">
                  <svg class="social-svg"><use xlink:href="#social-facebook"></use></svg>
                  <span class="social-title">South African Tourism UK</span>
                </div>
              </div>
              <p>A Luxury Travel Blog has named #Kruger as one of the 5 besitt national parks in the world! http://goo.gl/2ph0TO</p>
              <div class="category share hide">
                <div class="box">
                  <svg class="share-svg"><use xlink:href="#share"></use></svg>
                  <span class="share-title">8</span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-md-2">
        <div class="social-item twitter">
          <a target="_blank" href="https://twitter.com/gotosouthafrica">
            <div class="social-image" style="background-image: url(images/grids/social.jpg);"></div>
            <div class="social-layer has-image"></div>
            <div class="social-content">
              <div class="category social">
                <div class="box">
                  <svg class="social-svg"><use xlink:href="#social-twitter"></use></svg>
                  <span class="social-title">@VISITSA_UK</span>
                </div>
              </div>
              <p>Been a while since you've updatmted the ol' bucket liittst? Go ahead, add this: budurl.com/5zkw via @earthXplorer</p>
              <div class="category share hide">
                <div class="box">
                  <svg class="share-svg"><use xlink:href="#share"></use></svg>
                  <span class="share-title">3</span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-md-2">
        <div class="social-item flickr">
          <a target="_blank" href="https://www.flickr.com/photos/south-african-tourism">
            <div class="social-image" style="background-image: url(images/grids/social.jpg);"></div>
            <div class="social-layer has-image"></div>
            <div class="social-content">
              <div class="category social">
                <div class="box">
                  <svg class="social-svg"><use xlink:href="#social-flickr"></use></svg>
                  <span class="social-title">Love South Africa</span>
                </div>
              </div>
              <p>I took this picture of one of the waiters at a restuarant tithat we had dinner at. His hairstyle drew my attention immediately!</p>
              <div class="category share hide">
                <div class="box">
                  <svg class="share-svg"><use xlink:href="#share"></use></svg>
                  <span class="share-title">0</span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-md-2">
        <div class="social-item pinterest">
          <a target="_blank" href="http://www.pinterest.com/meetsouthafrica">
            <div class="social-image" style="background-image: url(images/grids/social.jpg);"></div>
            <div class="social-layer has-image"></div>
            <div class="social-content">
              <div class="category social">
                <div class="box">
                  <svg class="social-svg"><use xlink:href="#social-pinterest"></use></svg>
                  <span class="social-title">Meetsouthafrica</span>
                </div>
              </div>
              <p>Street art and John Legend #MeetSouthAfrica.</p>
              <div class="category share hide">
                <div class="box">
                  <svg class="share-svg"><use xlink:href="#share"></use></svg>
                  <span class="share-title">1</span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-md-2">
        <div class="social-item instagram">
          <a target="_blank" href="http://instagram.com/meetsouthafrica">
            <div class="social-image" style="background-image: url(images/grids/social.jpg);"></div>
            <div class="social-layer has-image"></div>
            <div class="social-content">
              <div class="category social">
                <div class="box">
                  <svg class="social-svg"><use xlink:href="#social-instagram"></use></svg>
                  <span class="social-title">Visit South Africa</span>
                </div>
              </div>
              <p>Wanderlust (noun): a strong desire or timpulse to wander or travel and explore the world. Photo credit: IG friend</p>
              <div class="category share hide">
                <div class="box">
                  <svg class="share-svg"><use xlink:href="#share"></use></svg>
                  <span class="share-title">6</span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-md-2">
        <div class="social-item facebook">
          <a target="_blank" href="https://www.facebook.com/SouthAfricanTourism">
            <div class="social-image" style="background-image: url(images/grids/social.jpg);"></div>
            <div class="social-layer has-image"></div>
            <div class="social-content">
              <div class="category social">
                <div class="box">
                  <svg class="social-svg"><use xlink:href="#social-facebook"></use></svg>
                  <span class="social-title">South African Tourism UK</span>
                </div>
              </div>
              <p>#Bungee! Nothing like that #adrenaline rush, who else has done one?</p>
              <div class="category share hide">
                <div class="box">
                  <svg class="share-svg"><use xlink:href="#share"></use></svg>
                  <span class="share-title">24</span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
